<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{v1/infra/blockDeclaration/head :: head}"></head>

<body>
	<div class="page-wrapper">
		<!-- 네비게이션바 시작 -->
			<th:block th:replace="~{v1/infra/blockDeclaration/body :: navigationBar}"></th:block>
			<!-- 네이게이션바 종료 -->
			<div class="main-container">
				<!-- 상단바 시작 -->
				<div th:replace="~{v1/infra/blockDeclaration/body :: topnav}"></div>
				<!-- 상단바 종료 -->
			<div class="content-wrapper-scroll">
				<!-- Content wrapper start -->
				<div class="content-wrapper">
					<!-- formStart -->
					<form name="formList" id="formList" method="post" autocomplete="off">
						<input type="hidden" name="thisPage" th:value="${vo.thisPage}" default="1"/>
						<!-- search s -->
						<div class="card">
							<div class="card-header">
								<div class="card-title">코드관리</div>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-4 col-12">
										<div class="mb-3">
											<select class="form-select" id="shDelNy" name="shDelNy">
												<option value="" th:selected="${vo.shDelNy == null}">삭제여부</option>
												<option value="0" th:selected="${vo.shDelNy == 0}">N</option>
												<option value="1" th:selected="${vo.shDelNy == 1}">Y</option>
											</select>
										</div>
									</div>
									<div
										class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-4 col-12">
										<div class="mb-3">
											<select class="form-select" id="shOptionDate" name="shOptionDate">
												<option value="" th:selected="${vo.shOptionDate == null}">날짜</option>
												<option value="1" th:selected="${vo.shOptionDate == 1}">등록일</option>
												<option value="2" th:selected="${vo.shOptionDate == 2}">수정일</option>
											</select>
										</div>
									</div>
									<div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-4 col-12">
										<div class="mb-3">
											<input type="text" id="shDateStart" name="shDateStart" placeholder="시작일" class="form-control" 
											autocomplete="off" th:value="${#strings.substring(vo.shDateStart, 0, 10)}" readonly>
										</div>
									</div>
									<div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-4 col-12">
										<div class="mb-3">
											<input type="text" id="shDateEnd" name="shDateEnd" placeholder="종료일" class="form-control"
											autocomplete="off" th:value="${#strings.substring(vo.shDateEnd, 0, 10)}" readonly>
										</div>
									</div>
									<div
										class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-4 col-12">
										<div class="mb-3">
											<select class="form-select" id="shOption" name="shOption">
												<option value="" th:selected="${vo.shOption == null}">검색구분</option>
												<option value="1" th:selected="${vo.shOption == 1}">코드</option>
												<option value="2" th:selected="${vo.shOption == 2}">코드 이름</option>
											</select>
										</div>
									</div>
									<div
										class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-4 col-12">
										<div class="mb-3">
											<input type="text" id="shValue" name="shValue" th:value="${vo.shValue}" onkeyup="enterkey()" placeholder="검색어" class="form-control form-control-sm">
											<div class="invalid-feedback" id="shValueFeedback"></div>
										</div>
									</div>
									<div
										class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-4 col-12">
										<div class="mb-3">
											<button type="button" id="btnSearch" class="btn btn-primary">
												<i class="bi bi-zoom-in"></i>
											</button>
											<button type="button" id="btnReset" class="btn btn-danger">
												<i class="bi bi-arrow-counterclockwise"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-body">
									<div th:replace= "~{v1/infra/blockDeclaration/body :: pageCount}"></div>
									<div class="table-responsive">
											<table class="table m-0">
												<thead>
													<tr>
														<th><input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"></th>
														<th>코드그룹번호</th>
														<th>코드그룹이름</th>
														<th>코드번호</th>
														<th>코드이름</th>
														<th>등록일</th>
														<th>수정일</th>
														<th>삭제여부</th>
													</tr>
												</thead>
												<tbody>
													<tr th:if="${!#lists.isEmpty(list)}" th:each="list : ${list}">
														<td><input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"></td>
														<td th:text="${list.groupseq}"></td>
														<td th:text="${list.cgName}"></td>
											 			<td th:text="${list.cdSeq}"></td>
											 			<td> <a th:href="@{/codeXdmCorrection(cdSeq=${list.cdSeq})}" th:text="${list.cdName}"></a></td>
											 			<th th:text="${#dates.format(list.cdCreationDate, 'yyyy/MM/dd HH:mm:ss')}"></th>
											 			<th th:text="${#dates.format(list.cdModificationDate, 'yyyy/MM/dd HH:mm:ss')}"></th>
														<td th:if="${list.cdDeleteNy eq 0}">N</td>
														<td th:unless="${list.cdDeleteNy eq 0}">Y</td> 			
											 		</tr>
												</tbody>
											</table>				
										</div>
									<div class="row mt-3">
										<!-- 페이징 -->
										<div th:replace= "~{v1/infra/blockDeclaration/body :: pageButton}"></div>
									</div>
									<div class="row mt-3">
										<div class="col d-grid gap-2 d-md-flex justify-content-md">
											<button type="button" class="btn btn-danger"
												data-bs-toggle="modal" data-bs-target="#modalDark">
												<i class="bi bi-eraser-fill"></i>
											</button>
										</div>
										<div class="col d-md-flex justify-content-md-end">
											<a th:href="@{/codeXdmAddition}">
												<button type="button" class="btn btn-info">
													<i class="bi bi-plus-circle-fill"></i>
												</button>
											</a>
										</div>
									</div>
									<div class="modals-placeholder">
										<div class="modal fade" id="modalDark" tabindex="-1"
											aria-labelledby="modalDarkLabel" aria-hidden="true">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="modalDarkLabel">데이터를
															삭제하시겠습니까?</h5>
														<button type="button" class="btn-close"
															data-bs-dismiss="modal" aria-label="Close"></button>
													</div>
													<div class="modal-body">삭제한 데이터는 복구할 수 없습니다.</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-danger"
															data-bs-dismiss="modal">삭제</button>
														<button type="button" class="btn btn-dark"
															data-bs-dismiss="modal">취소</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
						</form>
				</div>
					<div class="app-footer">
						<span>© Arise admin 2023</span>
					</div>
			</div>
		</div>
	</div>
		<th:block th:replace="~{v1/infra/blockDeclaration/body :: script}"></th:block>
	<script type="text/javascript">
			let goUrlXdmList = "/codeXdmList"; /* ### */
			let goUrlXdmForm = "/v1/infra/codegroup/codeGroupXdmForm"; /* ### */
			let goUrlXdmMultiUele = "/v1/infra/codegroup/codeGroupXdmMultiUele"; /* ### */
			let goUrlXdmMultiDele = "/v1/infra/codegroup/codeGroupXdmMultiDele"; /* ### */
			let goUrlXdmView = "/v1/infra/codegroup/codeGroupXdmView"; /* ### */

			let seq = document.querySelector("input[name=seq]"); /* ### */
			
			let form = document.querySelector("form[name=formList]");
			
			window.addEventListener('load', function() {
				$("#shDateStart, #shDateEnd").datetimepicker({
					timepicker : false,
					format : 'Y-m-d'
					
				});

			goList = function (thisPage) {
				document.querySelector("input[name=thisPage]").value = thisPage;
			    form.action = goUrlXdmList;
			    form.submit();
			}
		
			
			document.getElementById("btnSearch").onclick = function() {
				form.action = goUrlXdmList;
				form.submit();
			};
			
			document.getElementById("btnReset").onclick = function() {
				location.href = goUrlXdmList;
			}
		});
		function enterkey() {
			if (window.event.keyCode == 13) {
			    form.action = goUrlXdmList;
			    form.submit();
		    }
		}
	</script>
</body>

</html>