<!doctype html>
<html class="no-js" lang="en">

<head th:replace="~{v1/infra/blockDeclaration/user/head :: head}"></head>


<body class="sticky-header">
	<!-- 상단바 시작 -->
	<div th:replace="~{v1/infra/blockDeclaration/user/body :: topbar}"></div>
	<!-- 상단바 종료 -->
	<main class="main-wrapper">
		<div class="axil-main-slider-area main-slider-style-1">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-5 col-sm-6">
						<div class="main-slider-content">
							<div class="slider-content-activation-one">
								<div th:each= "list : ${list}" class="single-slide slick-slide" data-sal="slide-up"
									data-sal-delay="400" data-sal-duration="800">
									<span class="subtitle"><i class="fas fa-fire"></i>베스트 상품</span>
									<h1 class="title" th:text="${list.pdName}"></h1>
									<div class="slide-action">
										<div class="shop-btn">
											<a th:href="@{/shopDetailedPage(pdSeq=${list.pdSeq})}" class="axil-btn btn-bg-white"><i class="fal fa-shopping-cart"></i>Shop Now</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-7 col-sm-6">
						<div class="main-slider-large-thumb">
							<div class="slider-thumb-activation-one axil-slick-dots">
								<div class="single-slide slick-slide" th:each= "list : ${list}" data-sal="slide-up" ata-sal-delay="600" data-sal-duration="1500">
									<img th:src="${list.ibuPath}" alt="Product">
									<div class="product-price">
										<span class="price-amount" th:text="${#numbers.formatInteger(list.pdPrice,1,'COMMA')} + '원'"></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<ul class="shape-group">
				<li class="shape-1"><img
					src="user/v1/assets/images/others/shape-1.png" alt="Shape"></li>
				<li class="shape-2"><img
					src="user/v1/assets/images/others/shape-2.png" alt="Shape"></li>
			</ul>
		</div>
		<!-- End Slider Area -->

		<!-- Start Best Sellers Product Area  -->
		<div
			class="axil-best-seller-product-area bg-color-white axil-section-gap pb--0">
			<div class="container">
				<div class="product-area pb--50">
					<div class="section-title-wrapper">
						<span class="title-highlighter highlighter-primary"> <i
							class="far fa-shopping-basket"></i>고민중인 고객님께 추천
						</span>
						<h2 class="title">베스트 상품</h2>
					</div>
					<div class="new-arrivals-product-activation-2 slick-layout-wrapper--15 axil-slick-arrow arrow-top-slide product-slide-mobile ">
						<div class="axil-product product-style-one" th:each= "list : ${list}">
							<div class="thumbnail">
								<a th:href="@{/shopDetailedPage(pdSeq=${list.pdSeq})}"> <img data-sal="fade"
									data-sal-delay="100" data-sal-duration="1500"
									th:src="${list.ibuPath}"
									alt="Product Images">
								</a>
							</div>
							<div class="product-content">
								<div class="inner">
									<h5 class="title">
										<a th:href="@{/shopDetailedPage(pdSeq=${list.pdSeq})}" th:text="${list.pdName}"><span
											class="verified-icon"><i class="fas fa-badge-check"></i></span></a>
									</h5>
									<div class="product-price-variant">
										<span class="price current-price" th:text="${#numbers.formatInteger(list.pdPrice,1,'COMMA')} + '원'"></span>
									</div>
								</div>
							</div>
						</div>
						<!-- End .slick-single-layout -->
					</div>
				</div>
			</div>
		</div>n
		<!-- End  Best Sellers Product Area  -->
		<!-- Start Expolre Product Area  -->
		<div class="axil-product-area bg-color-white axil-section-gap pb--0">
			<div class="container">
				<div class="product-area pb--20">
					<div class="axil-isotope-wrapper">
						<div class="product-isotope-heading">
							<div class="section-title-wrapper">
								<span class="title-highlighter highlighter-primary"><i
									class="far fa-shopping-basket"></i>최신 상품을 원하는 고객님께 추천</span>
								<h2 class="title">새로 출시한 상품</h2>
							</div>
						</div>
						<div class="row row--15 isotope-list">
							<div class="col-xl-3 col-lg-4 col-sm-6 col-12 mb--30 product music" th:each= "newProducts : ${newProducts}">
								<div class="axil-product product-style-one">
									<div class="thumbnail">
										<a th:href="@{/shopDetailedPage(pdSeq=${newProducts.pdSeq})}"> <img data-sal="fade"
											data-sal-delay="100" data-sal-duration="1500"
											th:src="${newProducts.ibuPath}"
											alt="Product Images">
										</a>
										<div class="product-hover-action">
											<!-- <ul class="cart-action">
												<li class="select-option"><a
													href="single-product-7.html">Buy Product</a></li>
											</ul> -->
										</div>
									</div>
									<div class="product-content">
										<div class="inner">
											<h5 class="title">
												<a th:href="@{/shopDetailedPage(pdSeq=${newProducts.pdSeq})}" th:text="${newProducts.pdName}"><span
													class="verified-icon"><i class="fas fa-badge-check"></i></span></a>
											</h5>
											<div class="product-price-variant">
												<span class="price current-price" th:text="${#numbers.formatInteger(newProducts.pdPrice,1,'COMMA')} + '원'"></span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Expolre Product Area  -->


	</main>

	<!-- Start Footer Area  -->
	<footer class="axil-footer-area footer-style-1 footer-dark">
		<!-- Start Footer Top Area  -->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<!-- Start Single Widget  -->
					<div class="col-md-3 col-sm-12">
						<div class="axil-footer-widget">
							<div class="logo mb--30">
								<a href="index.html"> <img class="light-logo"
									src="user/v1/assets/images/logo/logo-light.png"
									alt="Logo Images">
								</a>
							</div>
							<div class="inner">
								<p>
									685 Market Street <br> Las Vegas, LA 95820, <br>
									United States.
								</p>
								<div class="social-share">
									<a href="#"><i class="fab fa-facebook-f"></i></a> <a href="#"><i
										class="fab fa-instagram"></i></a> <a href="#"><i
										class="fa-brands fa-x-twitter"></i></a> <a href="#"><i
										class="fab fa-linkedin-in"></i></a> <a href="#"><i
										class="fab fa-discord"></i></a>
								</div>
							</div>
						</div>
					</div>
					<!-- End Single Widget  -->
					<!-- Start Single Widget  -->
					<div class="col-md-3 col-sm-4">
						<div class="axil-footer-widget">
							<h5 class="widget-title">ABOUT</h5>
							<div class="inner">
								<ul>
									<li><a href="about-us.html">About</a></li>
									<li><a href="about-us.html">Who We Are</a></li>
									<li><a href="blog.html">Latest Post</a></li>
									<li><a href="shop-sidebar.html">New Arraival</a></li>
									<li><a href="contact.html">Contact Us</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- End Single Widget  -->
					<!-- Start Single Widget  -->
					<div class="col-md-3 col-sm-4">
						<div class="axil-footer-widget">
							<h5 class="widget-title">ACCOUNT</h5>
							<div class="inner">
								<ul>
									<li><a href="my-account.html">My Account</a></li>
									<li><a href="sign-up.html">Login / Register</a></li>
									<li><a href="cart.html">Cart</a></li>
									<li><a href="wishlist.html">Wishlist</a></li>
									<li><a href="shop.html">Shop</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- End Single Widget  -->
					<!-- Start Single Widget  -->
					<div class="col-md-3 col-sm-4">
						<div class="axil-footer-widget">
							<h5 class="widget-title">SUPPORT</h5>
							<div class="inner">
								<ul>
									<li><a href="privacy-policy.html">Privacy Policy</a></li>
									<li><a href="terms-of-service.html">Terms Of Use</a></li>
									<li><a href="#">FAQ</a></li>
									<li><a href="contact.html">Contact</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- End Single Widget  -->
				</div>
			</div>
		</div>
		<!-- End Footer Top Area  -->
		<!-- Start Copyright Area  -->
		<div class="copyright-area copyright-default separator-top">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-xl-7 col-lg-12">
						<div
							class="copyright-left d-flex flex-wrap justify-content-xl-start justify-content-center">
							<ul class="quick-link">
								<li><a href="privacy-policy.html">Privacy Policy</a></li>
								<li><a href="terms-of-service.html">Terms of Service</a></li>
							</ul>
							<ul class="quick-link">
								<li>© 2023. All rights reserved by <a target="_blank"
									href="https://axilthemes.com/">Axilthemes</a>.
								</li>
							</ul>
						</div>
					</div>
					<div class="col-xl-5 col-lg-12">
						<div
							class="copyright-right d-flex flex-wrap justify-content-xl-end justify-content-center align-items-center">
							<span class="card-text">Accept For</span>
							<ul class="payment-icons-bottom quick-link">
								<li><img src="user/v1/assets/images/icons/cart/cart-1.png"
									alt="paypal cart"></li>
								<li><img src="user/v1/assets/images/icons/cart/cart-2.png"
									alt="paypal cart"></li>
								<li><img src="user/v1/assets/images/icons/cart/cart-3.png"
									alt="paypal cart"></li>
								<li><img src="user/v1/assets/images/icons/cart/cart-6.png"
									alt="paypal cart"></li>
								<li><img src="user/v1/assets/images/icons/cart/cart-5.png"
									alt="paypal cart"></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Copyright Area  -->
	</footer>

	<!-- JS  -->
	<th:block th:replace="~{v1/infra/blockDeclaration/user/body :: script}"></th:block>

</body>

</html>