<!doctype html>
<html class="no-js" lang="en">

<head th:replace="~{v1/infra/blockDeclaration/user/head :: head}"></head>


<body>
	
    <div class="axil-signin-area">
        <!-- Start Header -->
        <div class="signin-header">
            <div class="row align-items-center">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <div class="singin-header-btn">
                        <p>계정이 있으신가요?</p>
                        <a href="/loginUser" class="axil-btn btn-bg-secondary sign-up-btn">로그인</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header -->

        <div class="row">
            <div class="col-xl-4 col-lg-6">
                <div class="axil-signin-banner bg_image bg_image--14">
                </div>
            </div>
            <div class="col-lg-6 offset-xl-2">
                <div class="axil-signin-form-wrap">
                    <div class="axil-signin-form">
                    <form class="row" method="post" name="formName">
                        <h3 class="title">회원가입</h3>
                        <p class="b2 mb--55">아래의 세부정보를 입력해주세요.</p>
                            <div class="form-group">
                                <label>사용자 이름</label>
                                <input type="text" class="form-control" name="mbName" id="mbName" placeholder="사용자 이름">
                            </div>
                            <div class="form-group">
                                <label>생년월일</label>
                                <input type="text" id="mbDateBirth" name="mbDateBirth" class="form-control" placeholder="생년월일" readonly>
                            </div>
                            <div class="form-group">
                                <label>성별</label>
									<select type="text" name="mbGender" id="mbGender" class="form-select2" required="">
										<option value="4">남자</option>
										<option value="5">여자</option>
										<option value="6">기타</option>
									</select>
                            </div>
                            <div class="form-group">
                                <label>전화번호</label>
                                <input type="text" class="form-control" name="mbPhoneNumber" id="mbPhoneNumber" placeholder="전화번호">
                            </div>
                            <div class="form-group">
                                <label>이메일</label>
                                <input type="text" class="form-control" name="mbEmail" id="mbEmail" placeholder="이메일">
                            </div>
                            <div class="form-group">
                                <label>비밀번호</label>
                                <input type="password" class="form-control" name="mbPassword" id="mbPassword" placeholder="비밀번호">
                            </div>
                            <div class="form-group">
                                <label>비밀번호확인</label>
                                <input type="password" class="form-control" name="passwordCheck" id="passwordCheck" placeholder="비밀번호 확인">
                            </div>
                            <div class="form-group">
                                <button type="button" id="additional" name="additional" class="axil-btn btn-bg-primary submit-btn">회원가입</button>
                            </div>
                            <input type="hidden" id="mbDeleteNy" name="mbDeleteNy" value="0">
                    	</form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- JS  -->
    <th:block th:replace="~{v1/infra/blockDeclaration/user/body :: script}"></th:block>
    <!-- validations  -->
		<script src="xdmin\v1\js\validationXdm.js"></script>
		<script>
				window.addEventListener('load', function() {
					$("#mbDateBirth").datetimepicker({
						timepicker : false,
			 			format: 'Y/m/d'
					});
				});
				
				let memberXdmList = "/memberXdmList"; /* ### */
				let goUrlXdmForm = "/v1/infra/codegroup/codeGroupXdmForm"; /* ### */
		</script>
		<script>
		/* 
		 document.getElementById("additional").onclick = function() {
			validation();
			validationUpdt();
		}*/
		 
		 let form = document.querySelector("form[name=formName]")
		 
		 insertCall = function() {
				if(validationUpdt() == false){
					return false;				
				}else {
					form.action = "insertMember";
					form.submit();
				}
			}
		 
		nullToEmpty = function(value) {
			if(value == null || value == "null" || value.length == 0) {
				return false;
			} else {
				return true;
			}
		}
		
		 function validationUpdt() {
				if(!checkOnlyKoreanEnglish('mbName', 2, 0, "회원이름은 한글, 영문대소문자만 입력 가능합니다.")) return false;
				if(!checkEmail('mbEmail', 2, 0, "이메일은 영대소문자, 숫자만 입력 가능합니다.")) return false;
//				if(!checkPassword('password', 2, 0, "비밀번호는 특수문자(!,@,#,$,%,^,&,*) 영대소문자, 숫자가 포함되어야 입력이 가능합니다.")) return false;
				if(!checkOnlyKoreanNumber('mbPhoneNumber', 2, 0, "예비1 (varchar type)은 영문대소문자, 숫자만 입력 가능합니다.")) return false;
				/* if(!checkOnlyEnglishNumber('ifcdReferenceV3', 2, 1, "예비3 (varchar type)은 영문대소문자, 숫자만 입력 가능합니다.")) return false;
				if(!checkOnlyEnglishNumber('ifcdReferenceV4', 2, 1, "예비4 (varchar type)은 영문대소문자, 숫자만 입력 가능합니다.")) return false;		
				if(!checkOnlyNumber('ifcdReferenceI1', 2, 1, 1, -128, 127, "예비1 (Int type)은 숫자(-128~127)만 입력 가능합니다.")) return false;
				if(!checkOnlyNumber('ifcdReferenceI2', 2, 1, 1, -128, 127, "예비2 (Int type)은 숫자(-128~127)만 입력 가능합니다.")) return false;
				if(!checkOnlyNumber('ifcdReferenceI3', 2, 1, 1, -128, 127, "예비3 (Int type)은 숫자(-128~127)만 입력 가능합니다.")) return false;
				if(!checkOnlyNumber('ifcdReferenceI4', 2, 1, 1, -128, 127, "예비4 (Int type)은 숫자(-128~127)만 입력 가능합니다.")) return false; */
			}
		 
		document.getElementById("additional").onclick = function () {
			
			if(validationUpdt() == false) return false;
		
			$.ajax({
				async: true 
				,cache: false
				,type: "post"
				,url: "/signinXdmProc"
				,data : {
					"mbPassword" : $("#mbPassword").val(),
					"passwordCheck" : $("#passwordCheck").val()
					}
				,success: function(response) {
					if(response.rt == "success") {
						insertCall();
					} else {
						alert("비밀번호가 일치하지 않습니다.");
					}
				}
				,error : function(jqXHR, textStatus, errorThrown){
					alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
				}
			});
		}
		</script>
	
</body>

</html>