<!doctype html>
<html class="no-js" lang="en">

<head th:replace="~{v1/infra/blockDeclaration/user/head :: head}"></head>

<style type="text/css">
.custom-input {
  width: 100px;
  height: 25px;
  padding: 8px;
  font-size: 16px;
}
</style>
<body class="sticky-header">
   <!-- 상단바 시작 -->
        <div th:replace="~{v1/infra/blockDeclaration/user/body :: topbar}"></div>
    <!-- 상단바 종료 -->
    <!-- End Header -->
    <main class="main-wrapper">
        <!-- Start Checkout Area  -->
        <div class="axil-checkout-area axil-section-gap">
            <div class="container">
                <form action="#">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="axil-checkout-notice">
                                <div class="axil-toggle-box">
                                    <div class=""></div>
                                    <div class="axil-checkout-coupon toggle-open">
                                    </div>
                                </div>
                            </div>
                            <div class="axil-checkout-billing">
                                <h4 class="title mb--40">결제 세부 정보</h4>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>이름 <span>*</span></label>
                                            <input type="text" id="first-name" placeholder="성을 입력해주세요">
                                        </div>
                                    </div>
                                <div class="form-group">
                                    <label>주소 <span>*</span></label>
                                    <input type="text" id="address1" placeholder="기본주소지를 입력해주세요">
                                </div>
                                <div class="form-group">
                                    <label>상세주소 <span>*</span></label>
                                    <input type="text" id="address2" placeholder="상세주소지를 입력해주세요">
                                </div>
                                <div class="form-group">
                                    <label>전화번호 <span>*</span></label>
                                    <input type="tel" id="phone" placeholder="집 또는 휴대폰번호를 입력해주세요">
                                </div>
                                <div class="form-group">
                                    <label>이메일 <span>*</span></label>
                                    <input type="email" id="email" placeholder="이메일주소를 입력해주세요">
                                </div>
                                <div class="form-group input-group">
                                    <input type="checkbox" id="checkbox1" name="account-create">
                                    <label for="checkbox1">작성내용확인</label>
                                </div>
                                <div class="form-group">
                                    <label>기타사항입력</label>
                                    <textarea id="notes" rows="2" placeholder="주문배송지의 대한 기타사항을 입력해주세요."></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="axil-order-summery order-checkout-summery">
                                <h5 class="title mb--20">주문내역</h5>
                                <div class="summery-table-wrap">
                                    <table class="table summery-table">
                                        <thead>
                                            <tr>
                                                <th>제품</th>
                                                <th>수량</th>
                                                <th>사이즈</th>
                                                <th>색상</th>
                                                <th>금액</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="order-product">
                                                <td>오버핏 남녀공용 맨투맨</td>
                                                <td><input class="custom-input" type='number' min='1' max='99' step='1'></td>
                                                <td>27,000원</td>
                                            </tr>
                                            <tr class="order-shipping">
                                                <td colspan="2">
                                                    <div class="shipping-amount">
                                                        <span class="title">배송비</span>
                                                        <span class="amount">0원</span>
                                                    </div>
                                                    <div class="input-group">
                                                        <input type="radio" id="radio1" name="shipping" checked>
                                                        <label for="radio1">무료</label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr class="order-total">
                                                <td>Total</td>
                                                <td class="order-total-amount">27,000원</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="order-payment-method">
                                	<div class="summery-table-wrap">
	                                    <div class="single-payment">
	                                        <div class="input-group justify-content-between align-items-center">
	                                            <input type="radio" id="radio6" name="payment" checked>
	                                            <label for="radio6">일반결제</label>
	                                            <img src="./assets/images/others/payment.png" alt="Paypal payment">
	                                        </div>
	                                        <div class="row">
		                                        <div class="col-6">
			                                        <div class="form-group">
						                                <label>카드종류 <span>*</span></label>
														<select type="text" name="gender">
															<option selected="" disabled="" value="">카드종류</option>
															<option>신한</option>
															<option>농협</option>
															<option>하나</option>
														</select>
						                            </div>
		                                        </div>
		                                        <div class="col-6">
			                                        <div class="form-group">
			                                            <label>이름 <span>*</span></label>
			                                            <input type="text" id="first-name" placeholder="이름">
			                                        </div>
			                                    </div>
		                                        <div class="col-12">
			                                        <div class="form-group">
			                                            <label>카드번호 <span>*</span></label>
			                                            <input type="text" id="first-name" placeholder="카드번호">
			                                        </div>
			                                    </div>
			                                    <div class="col-4">
			                                        <div class="form-group">
			                                            <label>MM<span>*</span></label>
			                                            <input type="text" id="first-name" placeholder="MM">
			                                        </div>
			                                    </div>
		                                        <div class="col-4">
			                                        <div class="form-group">
			                                            <label>YY <span>*</span></label>
			                                            <input type="text" id="first-name" placeholder="YY">
			                                        </div>
			                                    </div>
		                                        <div class="col-4">
			                                        <div class="form-group">
			                                            <label>cvc <span>*</span></label>
			                                            <input type="text" id="first-name" placeholder="cvc">
			                                        </div>
			                                    </div>
	                                        </div>
	                                    </div>
                                    </div>
                                </div>
                                <button type="submit" class="axil-btn btn-bg-primary checkout-btn">결제하기</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- End Checkout Area  -->
    </main>
    <div class="service-area">
        <div class="container">
            <div class="row row-cols-xl-4 row-cols-sm-2 row-cols-1 row--20">
                <div class="col">
                    <div class="service-box service-style-2">
                        <div class="icon">
                            <img src="./assets/images/icons/service1.png" alt="Service">
                        </div>
                        <div class="content">
                            <h6 class="title">Fast &amp; Secure Delivery</h6>
                            <p>Tell about your service.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="service-box service-style-2">
                        <div class="icon">
                            <img src="./assets/images/icons/service2.png" alt="Service">
                        </div>
                        <div class="content">
                            <h6 class="title">Money Back Guarantee</h6>
                            <p>Within 10 days.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="service-box service-style-2">
                        <div class="icon">
                            <img src="./assets/images/icons/service3.png" alt="Service">
                        </div>
                        <div class="content">
                            <h6 class="title">24 Hour Return Policy</h6>
                            <p>No question ask.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="service-box service-style-2">
                        <div class="icon">
                            <img src="./assets/images/icons/service4.png" alt="Service">
                        </div>
                        <div class="content">
                            <h6 class="title">Pro Quality Support</h6>
                            <p>24/7 Live support.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Footer Area  -->
    <footer class="axil-footer-area footer-style-2">
        <!-- Start Footer Top Area  -->
        <div class="footer-top separator-top">
            <div class="container">
                <div class="row">
                    <!-- Start Single Widget  -->
                    <div class="col-lg-3 col-sm-6">
                        <div class="axil-footer-widget">
                            <h5 class="widget-title">Support</h5>
                            <!-- <div class="logo mb--30">
                            <a href="index.html">
                                <img class="light-logo" src="assets/images/logo/logo.png" alt="Logo Images">
                            </a>
                        </div> -->
                            <div class="inner">
                                <p>685 Market Street, <br>
                                Las Vegas, LA 95820, <br>
                                United States.
                                </p>
                                <ul class="support-list-item">
                                    <li><a href="mailto:example@domain.com"><i class="fal fa-envelope-open"></i> example@domain.com</a></li>
                                    <li><a href="tel:(+01)850-315-5862"><i class="fal fa-phone-alt"></i> (+01) 850-315-5862</a></li>
                                    <!-- <li><i class="fal fa-map-marker-alt"></i> 685 Market Street,  <br> Las Vegas, LA 95820, <br> United States.</li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Widget  -->
                    <!-- Start Single Widget  -->
                    <div class="col-lg-3 col-sm-6">
                        <div class="axil-footer-widget">
                            <h5 class="widget-title">Account</h5>
                            <div class="inner">
                                <ul>
                                    <li><a href="my-account.html">My Account</a></li>
                                    <li><a href="sign-up.html">Login / Register</a></li>
                                    <li><a href="cart.html">Cart</a></li>
                                    <li><a href="wishlist.html">Wishlist</a></li>
                                    <li><a href="shop.html">Shop</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Widget  -->
                    <!-- Start Single Widget  -->
                    <div class="col-lg-3 col-sm-6">
                        <div class="axil-footer-widget">
                            <h5 class="widget-title">Quick Link</h5>
                            <div class="inner">
                                <ul>
                                    <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                    <li><a href="terms-of-service.html">Terms Of Use</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Widget  -->
                    <!-- Start Single Widget  -->
                    <div class="col-lg-3 col-sm-6">
                        <div class="axil-footer-widget">
                            <h5 class="widget-title">Download App</h5>
                            <div class="inner">
                                <span>Save $3 With App & New User only</span>
                                <div class="download-btn-group">
                                    <div class="qr-code">
                                        <img src="assets/images/others/qr.png" alt="Axilthemes">
                                    </div>
                                    <div class="app-link">
                                        <a href="#">
                                            <img src="assets/images/others/app-store.png" alt="App Store">
                                        </a>
                                        <a href="#">
                                            <img src="assets/images/others/play-store.png" alt="Play Store">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Widget  -->
                </div>
            </div>
        </div>
        <!-- End Footer Top Area  -->
        <!-- Start Copyright Area  -->
        <div class="copyright-area copyright-default separator-top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-4">
                        <div class="social-share">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-discord"></i></a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-12">
                        <div class="copyright-left d-flex flex-wrap justify-content-center">
                            <ul class="quick-link">
                                <li>© 2023. All rights reserved by <a target="_blank" href="https://axilthemes.com/">Axilthemes</a>.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-12">
                        <div class="copyright-right d-flex flex-wrap justify-content-xl-end justify-content-center align-items-center">
                            <span class="card-text">Accept For</span>
                            <ul class="payment-icons-bottom quick-link">
                                <li><img src="assets/images/icons/cart/cart-1.png" alt="paypal cart"></li>
                                <li><img src="assets/images/icons/cart/cart-2.png" alt="paypal cart"></li>
                                <li><img src="assets/images/icons/cart/cart-5.png" alt="paypal cart"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Copyright Area  -->
    </footer>
    <!-- End Footer Area  -->
   <!-- JS  -->
    <th:block th:replace="~{v1/infra/blockDeclaration/user/body :: script}"></th:block>

</body>

</html>