<!doctype html>
<html class="no-js" lang="en">

<head th:replace="~{v1/infra/blockDeclaration/user/head :: head}"></head>

<body class="sticky-header">
   <!-- 상단바 시작 -->
        <div th:replace="~{v1/infra/blockDeclaration/user/body :: topbar}"></div>
    <!-- 상단바 종료 -->
    <!-- End Header -->
    <main class="main-wrapper">
        <!-- Start Checkout Area  -->
        <div class="axil-checkout-area axil-section-gap">
            <div class="container">
                <form action="#">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="axil-checkout-notice">
                                <div class="axil-toggle-box">
                                    <div class=""></div>
                                    <div class="axil-checkout-coupon toggle-open">
                                    </div>
                                </div>
                            </div>
                            <div class="axil-checkout-billing">
                                <h4 class="title mb--40">결제 세부 정보</h4>
                                <div class="col-12">
                                      	<div class="form-group">
		                                <label>등록된 주소정보</label>
										<select th:if="${!#lists.isEmpty(addressList)}">
											<option th:each="addressList : ${addressList}" th:value="${addressList.arSeq}" th:text="${addressList.arSeq}"></option>
										</select>
		                            </div>
		                        </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>이름 <span>*</span></label>
                                        <input type="text" id="first-name" placeholder="성을 입력해주세요">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>주소 <span>*</span></label>
                                    <input type="text" id="address1" placeholder="기본주소지를 입력해주세요">
                                </div>
                                <div class="form-group">
                                    <label>상세주소 <span>*</span></label>
                                    <input type="text" id="address2" placeholder="상세주소지를 입력해주세요">
                                </div>
                                <div class="form-group">
                                    <label>전화번호 <span>*</span></label>
                                    <input type="tel" id="phone" placeholder="집 또는 휴대폰번호를 입력해주세요">
                                </div>
                                <div class="form-group">
                                    <label>이메일 <span>*</span></label>
                                    <input type="email" id="email" placeholder="이메일주소를 입력해주세요">
                                </div>
                                <div class="form-group input-group">
                                    <input type="checkbox" id="checkbox1" name="account-create">
                                    <label for="checkbox1">작성내용확인</label>
                                </div>
                                <div class="form-group">
                                    <label>기타사항입력</label>
                                    <textarea id="notes" rows="2" placeholder="주문배송지의 대한 기타사항을 입력해주세요."></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="axil-order-summery order-checkout-summery">
                                <h5 class="title mb--20">주문내역</h5>
                                <div class="summery-table-wrap">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="col-4">제품</th>
                                                <th class="col-2">수량</th>
                                                <th class="col-2">사이즈</th>
                                                <th class="col-2">색상</th>
                                                <th class="col-2">금액</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="order-product">
											    <td class="col-4" th:text="${pdName}" >
											    	<input type="hidden" id="pdName" name="pdName" th:value="${pdName}">
											    </td>
											    <td class="col-2" th:text="${pdpmQuantity}" >
											    	<input type="hidden" id="pdpmQuantity" name="pdpmQuantity" th:value="${pdpmQuantity}">
											    </td>
											    <td class="col-2" th:text="${@codeService.selectOneCachedCode(szCode)}">
											    	<input type="hidden" id="szCode" name="szCode" th:value="${szCode}">
											    </td>
											    <td class="col-2" th:text="${@codeService.selectOneCachedCode(clCode)}">
											    	<input type="hidden" id="clCode" name="clCode" th:value="${clCode}">
											    </td>
											    <td class="col-2" th:text="${#numbers.formatInteger(pdPrice * pdpmQuantity,1,'COMMA')} + '원'">
											    	<input type="hidden" id="pdpmPaymentAmount" name="pdpmPaymentAmount" th:value="${pdPrice}*${pdpmQuantity}">
											    </td>
											</tr>
                                        </tbody>
                                        <!-- <tbody>
                                            <tr class="order-shipping">
                                                <td colspan="2">
                                                    <div class="shipping-amount">
                                                        <span class="title">배송비</span>
                                                    </div>
                                                    <div class="input-group">
                                                        <input type="radio" id="radio1" name="shipping" checked>
                                                        <label for="radio1">무료</label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr class="order-total">
                                                <td>Total:</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td class="order-total-amount">27,000원</td>
                                            </tr>
                                        </tbody> -->
                                    </table>
                                </div>
                                <div class="order-payment-method">
                                	<div class="summery-table-wrap">
	                                    <div class="single-payment">
	                                        <div class="input-group justify-content-between align-items-center">
	                                            <input type="radio" id="radio6" name="payment" checked>
	                                            <label for="radio6">일반결제</label>
	                                        </div>
	                                        <div class="row">
		                                        <div class="col-12">
		                                        	<div class="form-group">
						                                <label>등록된 카드정보</label>
														<select th:if="${!#lists.isEmpty(addressList)}">
															<option th:each="addressList : ${addressList}" th:value="${addressList.arSeq}" th:text="${addressList.arSeq}"></option>
														</select>
						                            </div>
						                        </div>    
						                        <div class="col-6">
			                                        <div class="form-group">
						                                <label>카드종류 <span>*</span></label>
														<select type="text" name="gender">
															<option selected="" disabled="" value="">카드종류</option>
															<option>신한</option>
															<option>농협</option>
															<option>하나</option>
														</select>
						                            </div>
		                                        </div>
		                                        <div class="col-6">
			                                        <div class="form-group">
			                                            <label>이름 <span>*</span></label>
			                                            <input type="text" id="first-name" placeholder="이름">
			                                        </div>
			                                    </div>
		                                        <div class="col-12">
			                                        <div class="form-group">
			                                            <label>카드번호 <span>*</span></label>
			                                            <input type="text" id="first-name" placeholder="카드번호">
			                                        </div>
			                                    </div>
			                                    <div class="col-4">
			                                        <div class="form-group">
			                                            <label>MM<span>*</span></label>
			                                            <input type="text" id="first-name" placeholder="MM">
			                                        </div>
			                                    </div>
		                                        <div class="col-4">
			                                        <div class="form-group">
			                                            <label>YY <span>*</span></label>
			                                            <input type="text" id="first-name" placeholder="YY">
			                                        </div>
			                                    </div>
		                                        <div class="col-4">
			                                        <div class="form-group">
			                                            <label>cvc <span>*</span></label>
			                                            <input type="text" id="first-name" placeholder="cvc">
			                                        </div>
			                                    </div>
	                                        </div>
	                                    </div>
                                    </div>
                                </div>
                                <button type="submit" class="axil-btn btn-bg-primary checkout-btn">결제하기</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- End Checkout Area  -->
        
    </main>
    <!-- 하단 내용 -->
    <div th:replace="~{v1/infra/blockDeclaration/user/body :: bottomContent}">
    <!-- 하단 내용 -->
   
   <!-- JS  -->
    <th:block th:replace="~{v1/infra/blockDeclaration/user/body :: script}"></th:block>

</body>

</html>