<!doctype html>
<html class="no-js" lang="en">

<head th:replace="~{v1/infra/blockDeclaration/user/head :: head}"></head>


<body class="sticky-header">
	<form name="formList" id="formList" method="post" autocomplete="off">
		<input type="hidden" name="thisPage" id="thisPage" th:value="${vo.thisPage}" default="1"/>
	<!-- 상단바 시작 -->
    <div th:replace="~{v1/infra/blockDeclaration/user/body :: topbar}"></div>
    <!-- 상단바 종료 -->

    <main class="main-wrapper">
        <!-- Start Breadcrumb Area  -->
        <div class="axil-breadcrumb-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-8">
                        <div class="inner">
                            <ul class="axil-breadcrumb">
                                <li class="axil-breadcrumb-item"><a href="/indexUser">Home</a></li>
                                <li class="separator"></li>
                                <li class="axil-breadcrumb-item active" aria-current="page">상품목록</li>
                            </ul>
                            <h1 class="title">패션의류</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Breadcrumb Area  -->

        <!-- Start Shop Area  -->
        <div class="axil-shop-area axil-section-gap bg-color-white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="axil-shop-sidebar">
                            <div class="d-lg-none">
                                <button class="sidebar-close filter-close-btn"><i class="fas fa-times"></i></button>
                            </div>
                            <div class="toggle-list product-categories active">
                                <h6 class="title">카테고리</h6>
                                <div class="shop-submenu">
                                    <ul>
                                        <li>
                                        	<input class="form-check-input" type="checkbox" value="15" id="defaultCheck2" name="category" 
                                        	th:field="*{vo.category}"  >
        									<label class="form-check-label" for="defaultCheck2" th:text="${@codeService.selectOneCachedCode(15)}"></label>
        								</li>
                                        <li>
                                        	<input class="form-check-input" type="checkbox" value="17" id="defaultCheck3" name="category" th:field="*{vo.category}">
        									<label class="form-check-label" for="defaultCheck3" th:text="${@codeService.selectOneCachedCode(17)}"></label>
        								</li>
                                        <li>
                                        	<input class="form-check-input" type="checkbox" value="18" id="defaultCheck4" name="category" th:field="*{vo.category}">
        									<label class="form-check-label" for="defaultCheck4" th:text="${@codeService.selectOneCachedCode(18)}"></label>
        								</li>
                                        <li>
                                        	<input class="form-check-input" type="checkbox" value="19" id="defaultCheck5" name="category" th:field="*{vo.category}">
        									<label class="form-check-label" for="defaultCheck5" th:text="${@codeService.selectOneCachedCode(19)}"></label>
        								</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="toggle-list product-categories product-gender active">
                                <h6 class="title">성별</h6>
                                <div class="shop-submenu">
                                    <ul>
                                        <li>
											<input class="form-check-input" type="checkbox" value="4" id="defaultCheck6" name="gender" th:field="*{vo.gender}">
        									<label class="form-check-label" for="defaultCheck6" th:text="${@codeService.selectOneCachedCode(4)}"></label>                               	
                                        </li>
                                        <li>
											<input class="form-check-input" type="checkbox" value="5" id="defaultCheck7" name="gender" th:field="*{vo.gender}">
        									<label class="form-check-label" for="defaultCheck7" th:text="${@codeService.selectOneCachedCode(5)}"></label>
										</li>
										<li>
											<input class="form-check-input" type="checkbox" value="6" id="defaultCheck8" name="gender" th:field="*{vo.gender}">
        									<label class="form-check-label" for="defaultCheck8" th:text=남녀공용></label>
										</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="toggle-list product-categories active">
                                <h6 class="title">색상</h6>
                                <div class="shop-submenu">
                                    <ul>
                                        <li>
                                        	<input class="form-check-input" type="checkbox" value="11" id="defaultCheck10" name="color" th:field="*{vo.color}">
        									<label class="form-check-label" for="defaultCheck10" th:text="${@codeService.selectOneCachedCode(11)}"></label>
                                        </li>
                                        <li>
                                        	<input class="form-check-input" type="checkbox" value="12" id="defaultCheck11" name="color" th:field="*{vo.color}">
        									<label class="form-check-label" for="defaultCheck11" th:text="${@codeService.selectOneCachedCode(12)}"></label>
        								</li>
                                        <li>
                                        	<input class="form-check-input" type="checkbox" value="13" id="defaultCheck12" name="color" th:field="*{vo.color}">
        									<label class="form-check-label" for="defaultCheck12" th:text="${@codeService.selectOneCachedCode(13)}"></label>
        								</li>
                                        <li>
                                        	<input class="form-check-input" type="checkbox" value="14" id="defaultCheck13" name="color" th:field="*{vo.color}">
        									<label class="form-check-label" for="defaultCheck13" th:text="${@codeService.selectOneCachedCode(14)}"></label>
        								</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="toggle-list product-size active">
                                <h6 class="title">사이즈</h6>
                                <div class="shop-submenu">
                                    <ul>
                                        <li>
                                        	<input class="form-check-input" type="checkbox" value="7" id="defaultCheck14" name="size" th:field="*{vo.size}">
        									<label class="form-check-label" for="defaultCheck14" th:text="${@codeService.selectOneCachedCode(7)}"></label>
                                        </li>
                                        <li>
                                        	<input class="form-check-input" type="checkbox" value="8" id="defaultCheck15" name="size" th:field="*{vo.size}">
        									<label class="form-check-label" for="defaultCheck15" th:text="${@codeService.selectOneCachedCode(8)}"></label>
                                        </li>
                                        <li>
                                        	<input class="form-check-input" type="checkbox" value="9" id="defaultCheck16" name="size" th:field="*{vo.size}">
        									<label class="form-check-label" for="defaultCheck16" th:text="${@codeService.selectOneCachedCode(9)}"></label>
                                        </li>
                                        <li>
                                        	<input class="form-check-input" type="checkbox" value="10" id="defaultCheck17" name="size" th:field="*{vo.size}">
        									<label class="form-check-label" for="defaultCheck17" th:text="${@codeService.selectOneCachedCode(10)}"></label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <button type="button" class="axil-btn btn-bg-primary" id="schbtn">조건 검색</button>
                        </div>
                        <!-- End .axil-shop-sidebar -->
                    </div>
                    <div class="col-lg-9" id="listData">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="axil-shop-top mb--40">
                                    <div class="category-select align-items-center justify-content-lg-end justify-content-between">
                                        <!-- Start Single Select  -->
                                        <span class="filter-results"></span>
                                        <!-- 추후수정 <select class="single-select">
                                            <option>인기순</option>
                                            <option>최신순</option>
                                            <option>낮은 가격순</option>
                                            <option>가격 높은순</option>
                                        </select> -->
                                        <select class="single-select" name="rowNumToShowPd" id="rowNumToShowPd" th:onchange="javascript:goList(1)">
                                        	<option value="1" th:selected="${vo.rowNumToShowPd == 1}">1</option>
                                        	<option value="3" th:selected="${vo.rowNumToShowPd == 3}">3</option>
                                        	<option value="6" th:selected="${vo.rowNumToShowPd == 6}">6</option>
                                            <option value="9" th:selected="${vo.rowNumToShowPd == 9}">9</option>
											<option value="18" th:selected="${vo.rowNumToShowPd == 18}">18</option>
											<option value="27" th:selected="${vo.rowNumToShowPd == 27}">27</option>
											<option value="36" th:selected="${vo.rowNumToShowPd == 36}">36</option>
                                        </select>
                                        <!-- End Single Select  -->
                                    </div>
                                    <div class="d-lg-none">
                                        <button class="product-filter-mobile filter-toggle"><i class="fas fa-filter"></i> FILTER</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End .row -->
                        <div class="row row--15">
	                        <th:block th:each= "list : ${list}">
	                        	 <div class="col-xl-4 col-sm-6">
	                                <div class="axil-product product-style-one mb--30">
	                                	<div class="thumbnail">
	                                        <a th:href="@{/shopDetailedPage(pdSeq=${list.pdSeq})}">
	                                            <img th:src="${list.ibuPath}" width="330" height="330" alt="Description of image">
	                                        </a>
	                                    </div>
	                                    <div class="product-content">
	                                        <div class="inner">
	                                            <h5 class="title">
	                                            	<a th:href="@{/shopDetailedPage(pdSeq=${list.pdSeq})}" th:text="${list.pdName}"></a>
	                                            </h5>
	                                            <div class="product-price-variant">
	                                                <span class="price current-price" th:text="${#numbers.formatInteger(list.pdPrice,1,'COMMA')} + '원'"></span>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </th:block>
	                        <!-- 페이징시작 -->
                           	<ul class="pagination justify-content-center mb-0">
								<li th:if="${vo.startPage gt vo.pageNumToShowPd}"
									class="page-item" style="cursor: pointer;"><a
									class="page-link"
									href="javascript:goList(${vo.startPage - 1})"
									th:attr="onclick=|goList('${vo.startPage - 1}')|"><i
										class="">이전</i></a></li>
								<li th:each="num: ${#numbers.sequence(vo.startPage, vo.endPage)}"
									th:classappend="${num eq vo.thisPage} ? active : ''"
									class="page-item" style="cursor: pointer;"><a
									class="page-link" th:attr="onclick=|goList('${num}')|"
									th:text="${num}">
										<!-- ${i.index} -->
								</a></li>
								<li th:if="${vo.endPage ne vo.totalPages}"
									class="page-item" style="cursor: pointer;"><a
									class="page-link"
									th:attr="onclick=|goList('${vo.endPage + 1}')|"><i
										class="">다음</i></a></li>
							</ul>
                           	<!-- 페이징종료 -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- End .container -->
        </div>
        <!-- End Shop Area  -->

    </main>



    <!-- 하단 내용 -->
    <div th:replace="~{v1/infra/blockDeclaration/user/body :: bottomContent}"></div>
    <!-- 하단 내용 -->
    
    </form>
    <!-- JS  -->
    <th:block th:replace="~{v1/infra/blockDeclaration/user/body :: script}"></th:block>
    
    <script type="text/javascript">
   		let goUrlXdmList = "/shopList"; /* ### */
	    let goUrlXdmForm = "/v1/infra/codegroup/codeGroupXdmForm"; /* ### */
		let goUrlXdmMultiUele = "/v1/infra/codegroup/codeGroupXdmMultiUele"; /* ### */
		let goUrlXdmMultiDele = "/v1/infra/codegroup/codeGroupXdmMultiDele"; /* ### */
		let goUrlXdmView = "/v1/infra/codegroup/codeGroupXdmView"; /* ### */
	
		let seq = document.querySelector("input[name=seq]"); /* ### */
		
		let form = document.querySelector("form[name=formList]");
		
		window.addEventListener('load', function() {
		    
	    goList = function (thisPage) {
			document.querySelector("input[name=thisPage]").value = thisPage;
		    form.action = goUrlXdmList;
		    form.submit();
		}
	    /* goList = function(thisPage) {
	    	document.querySelector("input[name=thisPage]").value = thisPage;
	        $.ajax({
	    		async: true
	    		, cache: false
	    		, type: "post"
	    		, url: "/categoryselect"
	    		, success: function(fragment) {
	    			$("#listData").replaceWith(fragment);
	    		}
	    		, error: function(jqXHR, textStatus, errorThrown) {
	    			alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
	    		}
	    	}); */
	});
	function enterkey() {
		if (window.event.keyCode == 13) {
		    form.action = goUrlXdmList;
		    form.submit();
	    }
	}
	/* 체크 배열 불러오기 */
	document.getElementById("schbtn").onclick = function()
	{
		let category = [];
		let gender = [];
		let color = [];
		let size = [];
		
		let list = new Array();
		$("input[name=category]:checked").each(function(){
			category.push($(this).val());
			
		});
		$("input[name=gender]:checked").each(function(){
			gender.push($(this).val());
			
		});
		$("input[name=color]:checked").each(function(){
			color.push($(this).val());
			
		});
		$("input[name=size]:checked").each(function(){
			size.push($(this).val());
			
		});
		/* console.log(category);
		console.log(gender);
		console.log(color);
		console.log(size); */
		
		list.push(category);
		list.push(gender);
		list.push(color);
		list.push(size);
		
		console.log(list);
		/* ,data : {"category" : category , "gender" : gender , "color" : color , "size" : size} */
		$.ajax({
			async: true 
			,cache: false
			,type: "post"
			,url: "/categoryselect"
			,data : {"category" : category , "gender" : gender , "color" : color , "size" : size}
			,success: function(response) {
				$("#listData").replaceWith(response);
			}
			,error : function(jqXHR, textStatus, errorThrown){
				alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
			}
		}); 
	}
	
	</script>

</body>

</html>