<!doctype html>
<html class="no-js" lang="en">

<head th:replace="~{v1/infra/blockDeclaration/user/head :: head}"></head>
<body class="sticky-header">
	<form name="formList" id="formList" method="post" autocomplete="off">
		<input type="hidden" name="pdName" id="pdName" th:value="${item.pdName}">
		<input type="hidden" name="pdPrice" id="pdPrice" th:value="${item.pdPrice}">
		<input type="hidden" name="szCode" id="szCode">
		<!-- <input type="hidden" name="thisPage" id="thisPage" th:value="${vo.thisPage}" default="1"/>
	<!-- 상단바 시작 -->
    <div th:replace="~{v1/infra/blockDeclaration/user/body :: topbar}"></div>
    <!-- 상단바 종료 -->
    <main class="main-wrapper">
        <!-- Start Shop Area  -->
        <div class="axil-single-product-area axil-section-gap pb--0 bg-color-white">
            <div class="single-product-thumb mb--40">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7 mb--40">
                            <div class="row">
                                <div class="col-lg-10 order-lg-2">
                                    <div class="single-product-thumbnail-wrap zoom-gallery">
                                        <div class="single-product-thumbnail product-large-thumbnail-3 axil-product">
                                            <div class="thumbnail">
                                                <a href="user/v1/assets/images/product/product-big-01.png" class="popup-zoom">
                                                    <img src="user/v1/assets/images/product/product-big-01.png" alt="Product Images">
                                                </a>
                                            </div>
                                            <div class="thumbnail">
                                                <a href="user/v1/assets/images/product/product-big-02.png" class="popup-zoom">
                                                    <img src="user/v1/assets/images/product/product-big-02.png" alt="Product Images">
                                                </a>
                                            </div>
                                            <div class="thumbnail">
                                                <a href="user/v1/assets/images/product/product-big-03.png" class="popup-zoom">
                                                    <img src="user/v1/assets/images/product/product-big-03.png" alt="Product Images">
                                                </a>
                                            </div>
                                            <div class="thumbnail">
                                                <a href="user/v1/assets/images/product/product-big-02.png" class="popup-zoom">
                                                    <img src="user/v1/assets/images/product/product-big-02.png" alt="Product Images">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="product-quick-view position-view">
                                            <a href="user/v1/assets/images/product/product-big-01.png" class="popup-zoom">
                                                <i class="far fa-search-plus"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 order-lg-1">
                                    <div class="product-small-thumb-3 small-thumb-wrapper">
                                        <div class="small-thumb-img">
                                            <img src="user/v1/assets/images/product/product-thumb/thumb-08.png" alt="thumb image">
                                        </div>
                                        <div class="small-thumb-img">
                                            <img src="user/v1/assets/images/product/product-thumb/thumb-07.png" alt="thumb image">
                                        </div>
                                        <div class="small-thumb-img">
                                            <img src="user/v1/assets/images/product/product-thumb/thumb-09.png" alt="thumb image">
                                        </div>
                                        <div class="small-thumb-img">
                                            <img src="user/v1/assets/images/product/product-thumb/thumb-07.png" alt="thumb image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 mb--40">
                        <div class="row">
                            <div class="single-product-content">
                                <div class="inner">
                                    <h2 class="product-title" th:text=${item.pdName}></h2>
                                    <ul class="axil-breadcrumb">
				                                <li class="axil-breadcrumb-item"><a href="shop-sidebar.html">패션의류</a></li>
				                                <li class="separator"></li>
				                                <li class="axil-breadcrumb-item"><a href="shop-sidebar.html">맨투맨</a></li>
				                            </ul>
                                    <span class="price-amount" th:text="${#numbers.formatInteger(item.pdPrice,1,'COMMA')} + '원'"></span>
                                    <div class="product-rating">
                                        <div class="star-rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="far fa-star"></i>
                                        </div>
                                        <div class="review-link">
                                            <a href="#">(리뷰<span>2</span>건)</a>
                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                    <p class="description"></p>

                                    <div class="product-variations-wrapper">

                                        <!-- Start Product Variation  -->
                                        <div class="product-variation">
										    <h6 class="title">색상:</h6>
										    <select name="clCode" id="clCode" aria-controls="apiCallbacks" class="select2" th:if="${!#lists.isEmpty(colorList)}">
										        <option  th:each="colorList : ${colorList}" th:if="${colorList.clCode != null}" th:text="${@codeService.selectOneCachedCode(colorList.clCode)}" th:value=${colorList.clCode}
										         onclick="clCheck"></option>
										    </select>
										</div>
                                        <!-- End Product Variation  -->
                                        <!-- Start Product Variation  -->
                                        <div class="product-variation">
										    <h6 class="title">Size:</h6>
										    <ul class="range-variant" th:if="${!#lists.isEmpty(sizeList)}" th:each="sizeList : ${sizeList}">
										        <li th:if="${sizeList.szCode != null}" 
										            th:text="${@codeService.selectOneCachedCode(sizeList.szCode)}"
										            id="szCode"
										            naem='szCode'
										            th:value="${sizeList.szCode}"
										            onclick="szCheck">
										        </li>
										    </ul>
										</div>
                                        <!-- End Product Variation  -->

                                    </div>

                                    <!-- Start Product Action Wrapper  -->
                                    <div class="product-action-wrapper d-flex-center">
                                        <!-- Start Quentity Action  -->
                                        <div class="pro-qty"><input type="text" name="pdpmQuantity" id="pdpmQuantity" value="1"></div>
                                        <!-- End Quentity Action  -->
                                        <!-- Start Product Action  -->
                                        <ul class="product-action d-flex-center mb--0">
                                            <li class="add-to-cart"><a id="paymentbtn" name= "paymentbtn" class="axil-btn btn-bg-primary">상품구매하기</a></li>
                                            <li class="wishlist"><a href="wishlist.html" class="axil-btn wishlist-btn"><i class="far fa-heart"></i></a></li>
                                        </ul>
                                        <!-- End Product Action  -->

                                    </div>
                                    <!-- End Product Action Wrapper  -->
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End .single-product-thumb -->

            <div class="woocommerce-tabs wc-tabs-wrapper bg-white">
                <div class="container">
                    <ul class="nav tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="active" id="description-tab" data-bs-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">상품설명</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a id="reviews-tab" data-bs-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">리뷰</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                            <div class="product-desc-wrapper">
                                <div class="row">
                                	<div class="col-12">
                                		<div class="d-flex justify-content-center">
                                        	<h1>상품설명</h1>
                                		</div>
                                	</div>
                                    <div class="col-12">
                                    	<div class="d-flex justify-content-center">
	                                        <a class="popup-zoom">
	                                           <img src="user/v1/assets/images/product/product-big-01.png" alt="Product Images">
	                                        </a>
                                      	</div>
                                    </div>
                                    <!-- End .col-lg-6 -->
                                </div>
                            </div>
                            <!-- End .product-desc-wrapper -->
                        </div>
                        
                        <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                            <div class="reviews-wrapper">
                                <div class="row">
                                    <div class="col-lg-6 mb--40">
                                        <div class="axil-comment-area pro-desc-commnet-area">
                                            <h5 class="title">리뷰</h5>
                                            <ul class="comment-list">
                                                <!-- Start Single Comment  -->
                                                <li class="comment" th:if="${!#lists.isEmpty(list)}" th:each="list : ${list}">
                                                    <div class="comment-body">
                                                        <div class="single-comment">
                                                            <div class="comment-inner">
                                                                <h6 class="commenter">
                                                                    <a class="hover-flip-item-wrapper" href="#">
                                                                        <span class="hover-flip-item">
                                                                            <span data-text="Cameron Williamson" th:text="${list.rvName}" ></span>
                                                                        </span>
                                                                    </a>
                                                                    <span class="commenter-rating ratiing-four-star">
                                                                        <a href="#"><i class="fas fa-star"></i></a>
                                                                        <a href="#"><i class="fas fa-star"></i></a>
                                                                        <a href="#"><i class="fas fa-star"></i></a>
                                                                        <a href="#"><i class="fas fa-star"></i></a>
                                                                        <a href="#"><i class="fas fa-star empty-rating"></i></a>
                                                                    </span>
                                                                </h6>
                                                            </div>
                                                        </div>
                                                        <h6 class="Cameron Williamson" th:text="${list.rvContent}"></h6>
                                                    </div>
                                                </li>
                                                <!-- End Single Comment  -->
                                            </ul>
                                        </div>
                                        <!-- End .axil-commnet-area -->
                                    </div>
                                    <!-- End .col -->
                                    <div class="col-lg-6 mb--40">
                                    	<input type="hidden" id="pdSeq" name="pdSeq" th:value="${item.pdSeq}">
                                    	<input type="hidden" id="rvName" name="rvName">
                                        <!-- Start Comment Respond  -->
                                        <div class="comment-respond pro-des-commend-respond mt--0">
                                            <h5 class="title mb--30">리뷰작성</h5>
                                            <div class="rating-wrapper d-flex-center mb--40"> 별점 <span class="require">*</span>
                                                <div class="reating-inner ml--20">
                                                    <a href="#"><i class="fa-star"></i></a>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label>작성내용(선택사항)</label>
                                                        <textarea name="rvContent" id="rvContent" placeholder="귀하의 의견"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-submit">
                                                        <button type="button" id="reviewbtn" name="reviewbtn" class="axil-btn btn-bg-primary w-auto">입력완료</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End .col -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- woocommerce-tabs -->

        </div>
        <!-- End Shop Area  -->
        <!-- End Recently Viewed Product Area  -->
        <!-- Start Axil Newsletter Area  -->
    </main>

    <!-- 하단 내용 -->
    <div th:replace="~{v1/infra/blockDeclaration/user/body :: bottomContent}">
    <!-- 하단 내용 -->


	</form>
	<!-- JS  -->
    <th:block th:replace="~{v1/infra/blockDeclaration/user/body :: script}"></th:block>
	<script type="text/javascript">
	
		document.getElementById("reviewbtn").onclick = function(){
			
			$.ajax({
				async: true 
				,cache: false
				,type: "post"
				,url: "/reviewinsert"
				,data : {"rvContent" : $("#rvContent").val(), "pdSeq" : $("#pdSeq").val()}
				,success: function(response) {
					if(response.rt == "success") {
						 alert("있음")
						 self.location.reload();
					}else {
						alert("로그인하고 달아주세요")
					}
				}
				,error : function(jqXHR, textStatus, errorThrown){
					alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
				}
			});
			
		}
			
		
	</script>
	<script>
		
	    function szCheck(szCode) {
	        // 이벤트 핸들러의 매개변수로 Seq 값을 받아 처리
	        var szItem = document.getElementById('szCode');
	        // 나머지 함수 코드
	    }
	    
	    function toggleSelection(item) {
	        // 중복 클릭 방지를 위한 조건 추가
	        if (!item.classList.contains('clActive')) {
	            // 다른 활성화된 요소가 있다면 해당 요소의 활성화 클래스를 제거
	            document.querySelectorAll('.range-variant li.clActive').forEach(function(activeItem) {
	                activeItem.classList.remove('clActive');
	            });
	            let szCode = document.getElementById("szCode");
	            szCode.value=null;
	            // 현재 요소를 활성화 상태로 변경
	            item.classList.add('clActive');
	
	            // 선택된 사이즈 값 가져오기
	            var selectedValue = item.getAttribute('data-value');
	            
	            let aa = $(".clActive").attr("value");
	            
	            
	            szCode.value=aa;
	            
	
	            // 서버로 데이터 전송 또는 다른 동작 수행
	            // sendToServer(selectedValue);
	        }
	    }
		
	    
	    
	    document.querySelectorAll('.range-variant li').forEach(function(item) {
	        item.addEventListener('click', function() {
	            toggleSelection(item);
	        });
	    });
	    
		let goUrlPayment = "/payment";
    	
		let form = document.querySelector("form[name=formList]");
		
		document.getElementById("paymentbtn").onclick = function(){
			form.action = goUrlPayment;
			form.submit();
		}

		document.getElementById("paymentbtn").onclick = function(){
				form.action = goUrlPayment;
				form.submit();
			}
	    
	</script>
</body>

</html>