<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{v1/infra/blockDeclaration/head :: head}"></head>
	<body>							
		<div id="lita">
			<div th:replace= "~{v1/infra/blockDeclaration/body :: pageCount}"></div>
				<div class="table-responsive">
					<table class="table m-0">
						<thead>
							<tr>
								<th><input class="form-check-input" type="checkbox"
									id="inlineCheckbox1" value="option1"></th>
								<th>코드그룹번호</th>
								<th>코드그룹이름</th>
								<th>등록일</th>
								<th>삭제여부</th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${!#lists.isEmpty(list)}"
								th:each="list : ${list}">
								<td><input class="form-check-input" type="checkbox"
									id="inlineCheckbox1" value="option1"></td>
								<td th:text="${list.cgSeq}"></td>
								<td><a
									th:href="@{/codeGroupXdmCorrection(cgSeq=${list.cgSeq},cgName=${list.cgName})}"
									th:text="${list.cgName}"></a></td>
								<th
									th:text="${#dates.format(list.cgCreationDate, 'yyyy/MM/dd HH:mm:ss')}"></th>
								<td th:if="${list.cgDeleteNy eq 0}">N</td>
								<td th:unless="${list.cgDeleteNy eq 0}">Y</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="row mt-3">
				<!-- 페이징 -->
					<div th:replace= "~{v1/infra/blockDeclaration/body :: pageButton}"></div>
				</div>
	</body>

</html>