<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

	<head th:replace="~{v1/infra/blockDeclaration/head :: head}"></head>

	<body>

		<div class="page-wrapper">

			<!-- 네비게이션바 시작 -->
			<th:block th:replace="~{v1/infra/blockDeclaration/body :: navigationBar}"></th:block>
			<!-- 네이게이션바 종료 -->
			<div class="main-container">
	
				<!-- 상단바 시작 -->
				<div th:replace="~{v1/infra/blockDeclaration/body :: topnav}"></div>
				<!-- 상단바 종료 -->
				
				<div class="content-wrapper-scroll">

					<!-- Content wrapper start -->
					<div class="content-wrapper">

						<!-- Row start -->
						<div class="row">
							<div class="col-sm-12 col-12">
								<!-- Card start -->
								<div class="card">
									<div class="card-header">
										<div class="card-title">회원관리</div>
									</div>
									<div class="card-body">
										<form class="row" method="post" name="formName">
											<div class="col-3 mb-3">
												<input type="text" class="form-control" name="mbName" id="mbName" placeholder="회원이름을 입력하시오.">
												<div class="invalid-feedback" name="mbName" id="nameFeedback"></div>
											</div>
											<div class="col-3">
												<div class="mb-3">
												<input type="text" id="mbDateBirth" name="mbDateBirth"
													placeholder="생년월일" class="form-control" autocomplete="off"
													readonly>
											</div>
											</div>
											<div class="col-3">
												<select class="form-select" name="" id="mbGender">
													<option value="4">남자</option>
													<option value="5">여자</option>
													<option value="6">기타</option>
												</select>
											</div>
											<div class="col-3">
												<input type="text" class="form-control" name="mbEmail" id="mbEmail" placeholder="이메일을 입력하시오.">
												<div class="invalid-feedback" name="mbEmail" id="emailFeedback"></div>
											</div>
											<div class="col-3">
												<input type="text" class="form-control" name="mbPassword" id="mbPassword" placeholder="비밀번호를 입력하시오.">
												<div class="invalid-feedback" name="mbPassword" id="passwordFeedback"></div>
											</div>
											<div class="col-3">
												<input type="text" class="form-control" name="passwordCheck" id="passwordCheck" placeholder="비밀번호와 동일하게 입력하시오.">
												<div class="invalid-feedback" name="passwordCheck" id="passwordCheckFeedback"></div>
											</div>
											<div class="col-3">
												<input type="text" class="form-control" name="mbPhoneNumber" id="mbPhoneNumber" placeholder="전화번호를 입력하시오.">
												<div class="invalid-feedback" name="mbPhoneNumber" id="phoneNumberFeedback"></div>
											</div>
											<div class="col-3">
												<select class="form-select" name="mbDeleteNy" id="mbDeleteNy">
													<option value="0">N</option>
													<option value="1">Y</option>
												</select>
											</div>
											<div class="col-6 g-3">
												<a th:href="@{/memberXdmList}">
													<button type="button" class="btn btn-success" id = "back">돌아가기</button>
												</a>
											</div>
											<div class="col-6 g-3 d-md-flex justify-content-md-end">
												<button class="btn btn-info" type="button" name="additional" id ="additional">추가</button>
											</div>
										</form>
										</div>
										<!-- Form actions footer end -->
									</div>
									</div>
								</div>
								<!-- Card end -->
							</div>
						</div>
						<!-- Row end -->

					</div>
					<!-- Content wrapper end -->

					<!-- App Footer start -->
					<div class="app-footer">
						<span>© Arise admin 2023</span>
					</div>
					<!-- App footer end -->

				</div>
				<!-- Content wrapper scroll end -->

			
		<th:block th:replace="~{v1/infra/blockDeclaration/body :: script}"></th:block>
		<!-- validations  -->
		<script src="xdmin\v1\js\validationXdm.js"></script>
		<script>
				window.addEventListener('load', function() {
					$("#mbDateBirth").datetimepicker({
						timepicker : false,
			 			format: 'Y/m/d'
					});
				});
				
				let memberXdmList = "/memberXdmList"; /* ### */
				let goUrlXdmForm = "/v1/infra/codegroup/codeGroupXdmForm"; /* ### */
		</script>
		<script>
		/* 
		 document.getElementById("additional").onclick = function() {
			validation();
			validationUpdt();
		}*/
		 
		 let form = document.querySelector("form[name=formName]")
		 
		 insertCall = function() {
				if(validationUpdt() == false){
					return false;				
				}else {
					form.action = "memberXdmInsert";
					form.submit();
				}
			}
		 
		nullToEmpty = function(value) {
			if(value == null || value == "null" || value.length == 0) {
				return false;
			} else {
				return true;
			}
		}
		
		 function validationUpdt() {
				if(!checkOnlyKoreanEnglish('mbName', 2, 0, "회원이름은 한글, 영문대소문자만 입력 가능합니다.")) return false;
				if(!checkEmail('mbEmail', 2, 0, "이메일은 영대소문자, 숫자만 입력 가능합니다.")) return false;
//				if(!checkPassword('password', 2, 0, "비밀번호는 특수문자(!,@,#,$,%,^,&,*) 영대소문자, 숫자가 포함되어야 입력이 가능합니다.")) return false;
				if(!checkOnlyKoreanNumber('mbPhoneNumber', 2, 0, "예비1 (varchar type)은 영문대소문자, 숫자만 입력 가능합니다.")) return false;
				/* if(!checkOnlyEnglishNumber('ifcdReferenceV3', 2, 1, "예비3 (varchar type)은 영문대소문자, 숫자만 입력 가능합니다.")) return false;
				if(!checkOnlyEnglishNumber('ifcdReferenceV4', 2, 1, "예비4 (varchar type)은 영문대소문자, 숫자만 입력 가능합니다.")) return false;		
				if(!checkOnlyNumber('ifcdReferenceI1', 2, 1, 1, -128, 127, "예비1 (Int type)은 숫자(-128~127)만 입력 가능합니다.")) return false;
				if(!checkOnlyNumber('ifcdReferenceI2', 2, 1, 1, -128, 127, "예비2 (Int type)은 숫자(-128~127)만 입력 가능합니다.")) return false;
				if(!checkOnlyNumber('ifcdReferenceI3', 2, 1, 1, -128, 127, "예비3 (Int type)은 숫자(-128~127)만 입력 가능합니다.")) return false;
				if(!checkOnlyNumber('ifcdReferenceI4', 2, 1, 1, -128, 127, "예비4 (Int type)은 숫자(-128~127)만 입력 가능합니다.")) return false; */
			}
		 
		document.getElementById("additional").onclick = function () {
			
			if(validationUpdt() == false) return false;
		
			$.ajax({
				async: true 
				,cache: false
				,type: "post"
				,url: "/signinXdmProc"
				,data : {
					"mbPassword" : $("#mbPassword").val(),
					"passwordCheck" : $("#passwordCheck").val()
					}
				,success: function(response) {
					if(response.rt == "success") {
						/* alert("비밀번호가 일치"); */
						insertCall();
						/*if(response.changePwd == "true") {
							location.href = "/memberXdmList";
						} else {
							location.href = "/memberXdmAddition";
						} */
					} else {
						alert("비밀번호가 일치하지 않습니다.");
				 		/* document.getElementById("modalAlertTitle").innerText = "확 인";
				 		document.getElementById("modalAlertBody").innerText = "일치하는 회원이 존재 하지 않습니다!";
				 		$("#modalAlert").modal("show"); */
					}
				}
				,error : function(jqXHR, textStatus, errorThrown){
					alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
				}
			});
		}
		</script>
	</body>

</html>