<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blackpink.infra.code.CodeDao">

	<resultMap id="resultMapObj" type="com.blackpink.infra.code.CodeDto"></resultMap>
	
	<sql id ="selectCommon">
		FROM codeGroup a
		LEFT JOIN code b 
	         on b.cgSeq = a.cgSeq
	         WHERE 1=1
		        <if test="shDelNy != null and !shDelNy.equals('')">AND b.cdDeleteNy = #{shDelNy}</if>
		       
				<choose>
					<when test="shOptionDate == 1">AND b.cdCreationDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
					<when test="shOptionDate == 2">AND b.cdModificationDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				</choose>
				 
		        <choose>
		            <when test="shOption == 1">AND b.cdSeq = #{shValue}</when>
		            <when test="shOption == 2">AND b.cdName LIKE CONCAT('%',#{shValue},'%')</when>
		        </choose>
	</sql>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			a.cgSeq as groupseq
			,a.cgName
			,b.cdSeq
			,b.cdName
			,b.cdDeleteNy
			,b.cdCreationDate
			,b.cdModificationDate
			,b.cgSeq
		<include refid="selectCommon" />
		ORDER BY b.cdSeq desc
		limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
	
	<select id="selectOneCount">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			a.cgSeq as groupseq
			,a.cgName
			,b.cdSeq
			,b.cdName
			,b.cdDeleteNy
			,b.cdCreationDate
			,b.cdModificationDate
			,b.cgSeq
		FROM code b, codeGroup a
		WHERE 1=1
			and a.cgSeq = b.cgSeq
			and b.cdSeq = #{cdSeq}
	</select>
	
	<insert id="insert">
		INSERT code (
			cdName
			,cdDeleteNy
			,cgSeq
		)VALUS(
			#{cdName}
			,#{cdDeleteNy}
			,#{cgSeq}
		)
	</insert>
	
	<update id="update">
		UPDATE code
		SET
			cdName = #{cdName}
		WHERE 1=1
			AND cdSeq = #{cdSeq}
	</update>
	
	<update id="updateDeleteNy">
		UPDATE
		SET 
			cdDeleteNy = 1
		WHERE 1=1
			AND cdSeq = #{cdSeq}			
	</update>
	
	<delete id="delete">
	 	DELETE FROM code
	 	WHERE 1=1
	 		AND cdSeq = #{cdSeq}
	</delete>
	
	
	
	<select id="selectListCachedCodeArrayList" resultMap="resultMapObj">
		SELECT
			cdSeq
			,cdName
			,cgSeq
		FROM code
		WHERE 1=1
			AND cdDeleteNy = 0
	</select>
	
</mapper>