<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blackpink.infra.codegroup.CodeGroupDao">

	<resultMap id="resultMapObj" type="com.blackpink.infra.codegroup.CodeGroupDto"></resultMap>

	 <sql id ="selectCommon">
		FROM codeGroup a
		WHERE 1=1
			<if test="shDelNy != null and !shDelNy.equals('')">AND deleteNy = #{shDelNy}</if>
        
			<choose>
				<when test="shOptionDate == 1">AND a.creationDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				<when test="shOptionDate == 2">AND a.modificationDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			</choose>
   
			<choose>
				<when test="shOption == 1">AND a.seq = #{shValue}</when>
				<when test="shOption == 2">AND a.codeGroupName LIKE CONCAT('%',#{shValue},'%')</when>
			</choose>
			
	</sql>
	
    <select id="selectList" resultMap="resultMapObj">
        SELECT
            a.seq
            ,a.codeGroupName
            ,(select count(aa.seq) from code aa where 1=1 and aa.codeGroup_seq = a.seq) as xseqCount
            ,a.deleteNy
            ,a.creationDate
            ,a.modificationDate
		   <include refid="selectCommon" />
			ORDER BY a.seq desc
			limit #{rowNumToShow} offset #{startRnumForMysql}	
    </select>
    
    <select id="selectOne" resultMap="resultMapObj">
        SELECT
            a.seq
            ,a.codeGroupName
            ,a.deleteNy
            ,a.creationDate
            ,a.modificationDate
        FROM codeGroup a
        WHERE 1=1 
        	AND a.seq = #{seq}
    </select>
    
    <insert id="insert">
    	INSERT INTO codeGroup (
    		codeGroupName
    		,deleteNy
    	)VALUES(
    		#{codeGroupName}
    		,#{deleteNy}
    	)
    </insert>
    
    <update id="update">
    	UPDATE codeGroup 
    	SET
    		codeGroupName = #{codeGroupName}
    	WHERE 1=1
    		AND seq = #{seq}
    </update>
    
    <update id="updateDeleteNy">
    	UPDATE codeGroup 
    	SET
    		deleteNy = 1
    	WHERE 1=1
    		AND seq = #{seq}
    </update>
    
    <delete id="delete">
    	DELETE FROM codeGroup
    	WHERE 1=1
    		AND seq = #{seq}
    </delete>
    
    <select id="selectListWithoutPaging" resultMap="resultMapObj">
		SELECT
			a.seq
			,a.codeGroupName
		FROM codeGroup a
		WHERE 1=1
			AND deleteNy = 0
		
	</select>
	
	<select id="selectListCachedCodeArrayList" resultMap="resultMapObj">
		SELECT 
			a.seq
			,a.codeGroupName
		FROM codeGroup a
		WHERE 1=1
			AND deleteNy = 0
    </select>
	
	<select id="selectOneCount">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select> 
	
</mapper>