<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blackpink.infra.member.MemberDao">

	<resultMap id="resultMapObj" type="com.blackpink.infra.member.MemberDto"></resultMap>

    <select id="selectList" resultMap="resultMapObj">
        SELECT
            a.seq
            ,a.name
            ,a.dateBirth
            ,a.gender
            ,a.email
            ,a.password
            ,a.phoneNumber
            ,a.deleteNy
            ,a.creationDate
            ,a.modificationDate
                FROM member a
		        WHERE 1=1
	        <if test="shDelNy != null and !shDelNy.equals('')">AND a.deleteNy = #{shDelNy}</if>
	      	<if test="shGender != null and !shGender.equals('')">AND a.gender = #{shGender}</if>
	      	
			<choose>
				<when test="shOptionDate == 1">AND a.creationDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				<when test="shOptionDate == 2">AND a.modificationDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			</choose>
			
	        <choose>
	            <when test="shOption == 1">AND a.seq = #{shValue}</when>
	            <when test="shOption == 2">AND a.name LIKE CONCAT('%',#{shValue},'%')</when>
	        </choose>
    </select>
    
    <select id="selectOne" resultMap="resultMapObj">
        SELECT
            a.seq
            ,a.name
            ,a.deleteNy
            ,a.creationDate
            ,a.modificationDate
        FROM member a
        WHERE 1=1 
        	AND a.seq = #{seq}
    </select>
    
    <select id="login" resultMap="resultMapObj">
    	SELECT
    		a.email
    		,a.password
    		,a.name
    	FROM member a
        WHERE 1=1 
        	AND a.email = #{email}
    </select>
    
    <insert id="insert">
    	INSERT INTO member (
    		name
    		,dateBirth
            ,gender
            ,email
            ,password
            ,phoneNumber
    		,deleteNy
    	)VALUES(
    		#{name}
    		,#{dateBirth}
            ,#{gender}
            ,#{email}
            ,#{password}
            ,#{phoneNumber}
    		,#{deleteNy}
    	)
    </insert>
    
    <update id="update">
    	UPDATE member 
    	SET
    		name = #{name}
    		,dateBirth = #{dateBirth}
            ,gender = #{gender}
            ,email = #{email}
            ,password = #{password}
            ,phoneNumber = #{phoneNumber}
    	WHERE 1=1
    		AND seq = #{seq}
    </update>
    
    <update id="updateDeleteNy">
    	UPDATE member 
    	SET
    		deleteNy = 1
    	WHERE 1=1
    		AND seq = #{seq}
    </update>
    
    <delete id="delete">
    	DELETE FROM member
    	WHERE 1=1
    		AND seq = #{seq}
    </delete>
    
    
    
	  
</mapper>