<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blackpink.infra.mypage.MypageDao">

	<resultMap id="resultMapObj" type="com.blackpink.infra.mypage.MypageDto"></resultMap>

	<select id="login" resultMap="resultMapObj">
    	SELECT
    		mbEmail
    		,mbPassword
    		,mbName
    	FROM member
        WHERE 1=1 
        	AND mbEmail = #{mbEmail}
    </select>
</mapper>