<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blackpink.infra.user.product.ProductDao">

	<resultMap id="resultMapObj" type="com.blackpink.infra.user.product.ProductDto"></resultMap>

	 <sql id ="selectCommon">
		FROM product
		WHERE 1=1
			<if test="shDelNy != null and !shDelNy.equals('')">AND pdDeleteNy = #{shDelNy}</if>
        
			<choose>
				<when test="shOptionDate == 1">AND pdCreationDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				<when test="shOptionDate == 2">AND pdModificationDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			</choose>
   
			<choose>
				<when test="shOption == 1">AND pdSeq = #{shValue}</when>
				<when test="shOption == 2">AND pdName LIKE CONCAT('%',#{shValue},'%')</when>
			</choose>
	</sql>
	
	<!-- shopList -->
	<sql id ="selectPd">
		FROM product
		WHERE 1=1
			AND pdDeleteNy = 0
			<choose>
				<when test="shOption == 1">AND pdSeq = #{shValue}</when>
				<when test="shOption == 2">AND pdName LIKE CONCAT('%',#{shValue},'%')</when>
			</choose>
	</sql>
	
	<select id="selectPdList" resultMap="resultMapObj">
        SELECT
            pdSeq
            ,pdCode
            ,pdName
            ,pdPrice
            ,pdlikeNy
            ,pdDeleteNy
            ,pdCreationDate
            ,pdModificationDate
		   	<include refid="selectPd" />
			ORDER BY pdSeq desc
			limit #{rowNumToShowPd} offset #{startRnumForMysql}	
    </select>
    
    <select id="selectPdOneCount">
		SELECT COUNT(*)
			<include refid="selectPd" />
	</select>
	<!-- shopList -->
	
	<!-- myPage -->
	<select id="selectMyPage" resultMap="resultMapObj">
        SELECT
            pdSeq
            ,pdCode
            ,pdName
            ,pdPrice
            ,pdlikeNy
            ,pdDeleteNy
            ,pdCreationDate
            ,pdModificationDate
		   	<include refid="selectCommon" />
			ORDER BY pdSeq desc
			limit #{rowNumToShow} offset #{startRnumForMysql}	
    </select>
	<!-- myPage -->

    <!-- 주문상세 -->
    <select id="item" resultMap="resultMapObj">
        SELECT
            pdSeq
            ,pdName
            ,pdPrice
        FROM product
        WHERE 1=1 
        	AND pdSeq = #{pdSeq}
    </select>
     <!-- 주문상세 -->
	
	
	<!-- 리뷰 -->
	<sql id="selectCommonRv">
		FROM review
		    WHERE 1=1
		     	AND pdSeq = #{pdSeq}
	     	<!-- <choose>
				<when test="shOption == 1">AND pdSeq = #{shValue}</when>
			</choose> -->
	</sql>
	
	<select id="selectRvList" resultMap="resultMapObj">
		SELECT
			rvSeq
			,rvName
			,rvContent
			,rvScores
			,pdSeq
		<include refid="selectCommonRv" />
	    <!-- ORDER BY pdSeq
		limit #{rowNumToShow} offset #{startRnumForMysql} -->
	</select>
	
	<select id="selectRvOneCount">
		SELECT COUNT(*)
			<include refid="selectCommonRv" />
	</select>
	
	<insert id="insertRv">
    	INSERT INTO review (
			rvSeq
			,rvName
			,rvContent
			,rvScores
	    	,pdSeq
    	)VALUES(
    		#{rvSeq}
    		,#{rvName}
    		,#{rvContent}
    		,#{rvScores}
    		,#{pdSeq}
    	)
    </insert>
	<!-- 리뷰 -->
	
	<!-- 관리자 화면 -->
    <select id="selectList" resultMap="resultMapObj">
        SELECT
            pdSeq
            ,pdCode
            ,pdName
            ,pdPrice
            ,pdlikeNy
            ,pdDeleteNy
            ,pdCreationDate
            ,pdModificationDate
		   <include refid="selectCommon" />
			ORDER BY pdSeq desc
			limit #{rowNumToShow} offset #{startRnumForMysql}	
    </select>
    
    <select id="selectOne" resultMap="resultMapObj">
        SELECT
            pdSeq
            ,pdName
            ,pdDeleteNy
            ,pdCreationDate
            ,pdModificationDate
        FROM product
        WHERE 1=1 
        	AND pdSeq = #{pdSeq}
    </select>
    <insert id="insert">
    	INSERT INTO product (
    		pdName
    		,pdDeleteNy
    	)VALUES(
    		#{pdName}
    		,#{pdDeleteNy}
    	)
    </insert>
    
    <update id="update">
    	UPDATE product 
    	SET
    		pdName = #{pdName}
    	WHERE 1=1
    		AND pdSeq = #{pdSeq}
    </update>
    
    <update id="updateDeleteNy">
    	UPDATE product 
    	SET
    		pdDeleteNy = 1
    	WHERE 1=1
    		AND pdSeq = #{pdSeq}
    </update>
    
    <delete id="delete">
    	DELETE FROM product
    	WHERE 1=1
    		AND pdSeq = #{pdSeq}
    </delete>
    <!-- 관리자 화면 -->
    
    <!-- 공통 페이징 -->
    <select id="selectListWithoutPaging" resultMap="resultMapObj">
		SELECT
			pdSeq
			,pdName
		FROM product
		WHERE 1=1
			AND pdDeleteNy = 0
	</select>
	<!-- 공통 페이징 -->
    
	<!-- 카운트 -->
	<select id="selectOneCount">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>
	<!-- 카운트 -->
	
	
	
</mapper>