<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{v1/infra/blockDeclaration/user/head :: head}"></head>

<body>
<!-- 상단바 시작 -->
	<div th:fragment="topbar">
        <div class="axil-mainmenu">
            <div class="container">
                <div class="header-navbar">
                    <div class="header-brand">
                        <a th:href="@{/indexUser}" class="logo logo-dark">
                            <img src="user/v1/assets/images/logo/logo.png" alt="Site Logo">
                        </a>
                    </div>
                    <div class="header-main-nav">
                        <!-- Start Mainmanu Nav -->
                        <nav class="mainmenu-nav">
                            <button class="mobile-close-btn mobile-nav-toggler"><i class="fas fa-times"></i></button>
                            <div class="mobile-nav-brand">
                                <a href="index.html" class="logo">
                                    <img src="user/v1/assets/images/logo/logo.png" alt="Site Logo">
                                </a>
                            </div>
                            <ul class="mainmenu">
                             	<li><a th:href="@{/indexUser}">Home</a></li>
                                <li class="menu-item-has-children">
                                    <a href="#">Shop</a>
                                    <ul class="axil-submenu">
                                        <li><a th:href="@{/shopList}">상품목록</a></li>
                                        <li><a th:href="@{/shopDetailedPage?pdSeq=1}">상세목록</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">Pages</a>
                                    <ul class="axil-submenu">
                                        <li><a th:href="@{/loginUser}">로그인</a></li>
                                        <li><a th:href="@{/joinMembership}">회원가입</a></li>
                                        <li><a th:href="@{/myPage}">마이페이지</a></li>
                                        <!-- <li><a th:href="@{/}">장바구니</a></li> -->
                                        <!-- <li><a th:href="@{/payment}">결제</a></li> -->
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                        <!-- End Mainmanu Nav -->
                    </div>
                    <div class="header-action">
                        <ul class="action-list">
                            <li class="axil-search d-xl-block d-none">
                                <input type="search" class="placeholder product-search-input" name="search2" id="search2" value="" maxlength="128" placeholder="검색할 내용을 입력해주세요." autocomplete="off">
                                <button type="submit" class="icon wooc-btn-search">
                                    <i class="flaticon-magnifying-glass"></i>
                                </button>
                            </li>
                            <li class="axil-search d-xl-none d-block">
                                <a href="javascript:void(0)" class="header-search-icon" title="Search">
                                    <i class="flaticon-magnifying-glass"></i>
                                </a>
                            </li>
                            <li class="wishlist">
                                <a href="wishlist.html">
                                    <i class="flaticon-heart"></i>
                                </a>
                            </li>
                            <li class="shopping-cart">
                                <a href="#" class="cart-dropdown-btn">
                                    <span class="cart-count">3</span>
                                    <i class="flaticon-shopping-cart"></i>
                                </a>
                            </li>
                            <li class="my-account">
                                <a href="javascript:void(0)">
                                    <i class="flaticon-person"></i>
                                </a>
                                <div class="my-account-dropdown">
                                    <ul>
                                        <li>
                                            <a th:href="@{/myPage}">마이페이지</a>
                                        </li>
                                    </ul>
                                    <a th:href="@{/loginUser}" class="axil-btn btn-bg-primary">Login</a>
                                    <div class="reg-footer text-center">계정이 없으신가요?<a th:href="@{/joinMembership}" class="btn-link">회원가입</a></div>
                                </div>
                            </li>
                            <li class="axil-mobile-toggle">
                                <button class="menu-btn mobile-nav-toggler">
                                    <i class="flaticon-menu-2"></i>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
	</div>
<!-- 상단바 종료 -->
<!-- 페이징시작 -->
	<div th:fragment="pageButton" class="col">
		<ul class="pagination justify-content-center mb-0">
			<li th:if="${vo.startPage gt vo.pageNumToShow}"
				class="page-item" style="cursor: pointer;"><a
				class="page-link"
				href="javascript:goList(${vo.startPage - 1})"
				th:attr="onclick=|goList('${vo.startPage - 1}')|"><i
					class="">이전</i></a></li>
			<li th:each="num: ${#numbers.sequence(vo.startPage, vo.endPage)}"
				th:classappend="${num eq vo.thisPage} ? active : ''"
				class="page-item" style="cursor: pointer;"><a
				class="page-link" th:attr="onclick=|goList('${num}')|"
				th:text="${num}">
					<!-- ${i.index} -->
			</a></li>
			<li th:if="${vo.endPage ne vo.totalPages}"
				class="page-item" style="cursor: pointer;"><a
				class="page-link"
				th:attr="onclick=|goList('${vo.endPage + 1}')|"><i
					class="">다음</i></a></li>
		</ul>
	</div>
<!-- 페이징종료 -->
<!-- 하단내용 -->
<div th:fragment="bottomContent"> 
<div class="service-area">
        <div class="container">
            <div class="row row-cols-xl-4 row-cols-sm-2 row-cols-1 row--20">
                <div class="col">
                    <div class="service-box service-style-2">
                        <div class="icon">
                            <img src="./user/v1/assets/images/icons/service1.png" alt="Service">
                        </div>
                        <div class="content">
                            <h6 class="title">빠르고 안전한 배송</h6>
                            <p>3일이내 배송</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="service-box service-style-2">
                        <div class="icon">
                            <img src="./user/v1/assets/images/icons/service2.png" alt="Service">
                        </div>
                        <div class="content">
                            <h6 class="title">환불 보증</h6>
                            <p>15일 이내 환불</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="service-box service-style-2">
                        <div class="icon">
                            <img src="./user/v1/assets/images/icons/service3.png" alt="Service">
                        </div>
                        <div class="content">
                            <h6 class="title">상시 반품 등록</h6>
                            <p>편한 반품시스템</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="service-box service-style-2">
                        <div class="icon">
                            <img src="./user/v1/assets/images/icons/service4.png" alt="Service">
                        </div>
                        <div class="content">
                            <h6 class="title">품질 보장</h6>
                            <p>모든 상품은 품질 보장</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Footer Area  -->
   <footer class="axil-footer-area footer-style-1 footer-dark">
		<!-- Start Footer Top Area  -->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<!-- Start Single Widget  -->
					<div class="col-md-3 col-sm-12">
						<div class="axil-footer-widget">
							<div class="logo mb--30">
								<a href="index.html"> <img class="light-logo"
									src="user/v1/assets/images/logo/logo-light.png"
									alt="Logo Images">
								</a>
							</div>
							<div class="inner">
								<p>
									685 Market Street <br> Las Vegas, LA 95820, <br>
									United States.
								</p>
								<div class="social-share">
									<a href="#"><i class="fab fa-facebook-f"></i></a> <a href="#"><i
										class="fab fa-instagram"></i></a> <a href="#"><i
										class="fa-brands fa-x-twitter"></i></a> <a href="#"><i
										class="fab fa-linkedin-in"></i></a> <a href="#"><i
										class="fab fa-discord"></i></a>
								</div>
							</div>
						</div>
					</div>
					<!-- End Single Widget  -->
					<!-- Start Single Widget  -->
					<div class="col-md-3 col-sm-4">
						<div class="axil-footer-widget">
							<h5 class="widget-title">ABOUT</h5>
							<div class="inner">
								<ul>
									<li><a href="about-us.html">About</a></li>
									<li><a href="about-us.html">Who We Are</a></li>
									<li><a href="blog.html">Latest Post</a></li>
									<li><a href="shop-sidebar.html">New Arraival</a></li>
									<li><a href="contact.html">Contact Us</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- End Single Widget  -->
					<!-- Start Single Widget  -->
					<div class="col-md-3 col-sm-4">
						<div class="axil-footer-widget">
							<h5 class="widget-title">ACCOUNT</h5>
							<div class="inner">
								<ul>
									<li><a href="my-account.html">My Account</a></li>
									<li><a href="sign-up.html">Login / Register</a></li>
									<li><a href="cart.html">Cart</a></li>
									<li><a href="wishlist.html">Wishlist</a></li>
									<li><a href="shop.html">Shop</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- End Single Widget  -->
					<!-- Start Single Widget  -->
					<div class="col-md-3 col-sm-4">
						<div class="axil-footer-widget">
							<h5 class="widget-title">SUPPORT</h5>
							<div class="inner">
								<ul>
									<li><a href="privacy-policy.html">Privacy Policy</a></li>
									<li><a href="terms-of-service.html">Terms Of Use</a></li>
									<li><a href="#">FAQ</a></li>
									<li><a href="contact.html">Contact</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- End Single Widget  -->
				</div>
			</div>
		</div>
		<!-- End Footer Top Area  -->
		<!-- Start Copyright Area  -->
		<div class="copyright-area copyright-default separator-top">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-xl-7 col-lg-12">
						<div
							class="copyright-left d-flex flex-wrap justify-content-xl-start justify-content-center">
							<ul class="quick-link">
								<li><a href="privacy-policy.html">Privacy Policy</a></li>
								<li><a href="terms-of-service.html">Terms of Service</a></li>
							</ul>
							<ul class="quick-link">
								<li>© 2023. All rights reserved by <a target="_blank"
									href="https://axilthemes.com/">Axilthemes</a>.
								</li>
							</ul>
						</div>
					</div>
					<div class="col-xl-5 col-lg-12">
						<div
							class="copyright-right d-flex flex-wrap justify-content-xl-end justify-content-center align-items-center">
							<span class="card-text">Accept For</span>
							<ul class="payment-icons-bottom quick-link">
								<li><img src="user/v1/assets/images/icons/cart/cart-1.png"
									alt="paypal cart"></li>
								<li><img src="user/v1/assets/images/icons/cart/cart-2.png"
									alt="paypal cart"></li>
								<li><img src="user/v1/assets/images/icons/cart/cart-3.png"
									alt="paypal cart"></li>
								<li><img src="user/v1/assets/images/icons/cart/cart-6.png"
									alt="paypal cart"></li>
								<li><img src="user/v1/assets/images/icons/cart/cart-5.png"
									alt="paypal cart"></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Copyright Area  -->
	</footer>
</div>

<!-- script 주소 시작 -->
		<th:block th:fragment="script">
			<!-- Modernizer JS -->
		    <script src="user/v1/assets/js/vendor/modernizr.min.js"></script>
		    <!-- jQuery JS -->
		    <script src="user/v1/assets/js/vendor/jquery.js"></script>
		    <!-- Bootstrap JS -->
		    <script src="user/v1/assets/js/vendor/popper.min.js"></script>
		    <script src="user/v1/assets/js/vendor/bootstrap.min.js"></script>
		    <script src="user/v1/assets/js/vendor/slick.min.js"></script>
		    <script src="user/v1/assets/js/vendor/js.cookie.js"></script>
		    <!-- <script src="user/v1/assets/js/vendor/jquery.style.switcher.js"></script> -->
		    <script src="user/v1/assets/js/vendor/jquery-ui.min.js"></script>
		    <script src="user/v1/assets/js/vendor/jquery.ui.touch-punch.min.js"></script>
		    <script src="user/v1/assets/js/vendor/jquery.countdown.min.js"></script>
		    <script src="user/v1/assets/js/vendor/sal.js"></script>
		    <script src="user/v1/assets/js/vendor/jquery.magnific-popup.min.js"></script>
		    <script src="user/v1/assets/js/vendor/imagesloaded.pkgd.min.js"></script>
		    <script src="user/v1/assets/js/vendor/isotope.pkgd.min.js"></script>
		    <script src="user/v1/assets/js/vendor/counterup.js"></script>
		    <script src="user/v1/assets/js/vendor/waypoints.min.js"></script>
    		<!-- Main JS -->
    		<script src="user/v1/assets/js/main.js"></script>
    		<!--날짜 JS-->
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		    <link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
		    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
		    <!-- logout -->
			<script src="user/v1/assets/js/vendor/common.js"></script>
		</th:block>
<!-- script 주소 종료 -->
</body>
</html>