<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{v1/infra/blockDeclaration/head :: head}"></head>

<body>
	<div class="page-wrapper">
		<!-- 네비게이션바 시작 -->
		<th:block
			th:replace="~{v1/infra/blockDeclaration/body :: navigationBar}"></th:block>
		<!-- 네이게이션바 종료 -->
		<div class="main-container">
			<!-- 상단바 시작 -->
			<div th:replace="~{v1/infra/blockDeclaration/body :: topnav}"></div>
			<!-- 상단바 종료 -->
			<div class="content-wrapper-scroll">

				<!-- Content wrapper start -->
				<div class="content-wrapper">

					<!-- Row start -->
					<div class="row">
						<div class="col-sm-12 col-12">
							<!-- Card start -->
							<div class="card">
								<div class="card-header">
									<div class="card-title">코드그룹관리</div>
								</div>
								<div class="card-body">
									<form class="row" method="post" name="formName">
										<div class="col-6">
											<input type="text" class="form-control" name="cgName"
												id="cgName" placeholder="코드그룹이름을 입력하시오.">
										</div>
										<div class="col-6">
											<select class="form-select" name="cgDeleteNy" id="cgDeleteNy">
												<option value="0">N</option>
												<option value="1">Y</option>
											</select>
										</div>
										<div class="col-6 g-3">
											<a th:href="@{/codeGroupXdmList}"><button type="button"
													class="btn btn-success" id="back">돌아가기</button></a>
										</div>
										<div class="col-6 g-3 d-md-flex justify-content-md-end">
											<button class="btn btn-info" type="button" id="additional">추가</button>
										</div>
									</form>
								</div>
								<!-- Form actions footer end -->
							</div>
						</div>
					</div>
					<!-- Card end -->
				</div>
			</div>
			<!-- Row end -->

		</div>
		<!-- Content wrapper end -->

		<!-- App Footer start -->
		<div class="app-footer">
			<span>© Arise admin 2023</span>
		</div>
		<!-- App footer end -->

	</div>
	<!-- Content wrapper scroll end -->


	<!-- *************
				************ Main container end *************
			************* -->

	<!-- Page wrapper end -->

	<!-- *************
			************ Required JavaScript Files *************
		************* -->
	<!-- Required jQuery first, then Bootstrap Bundle JS -->
	<script src="xdmin/v1/js/jquery.min.js"></script>
	<script src="xdmin/v1/js/bootstrap.bundle.min.js"></script>
	<script src="xdmin/v1/js/modernizr.js"></script>
	<script src="xdmin/v1/js/moment.js"></script>

	<!-- *************
			************ Vendor Js Files *************
		************* -->

	<!-- Overlay Scroll JS -->
	<script
		src="xdmin/v1/vendor/overlay-scroll/jquery.overlayScrollbars.min.js"></script>
	<script src="xdmin/v1/vendor/overlay-scroll/custom-scrollbar.js"></script>

	<!-- Main Js Required -->
	<script src="xdmin/v1/js/main.js"></script>

	<!-- validations  -->
	<script>
		// Example starter JavaScript for disabling form submissions if there are invalid fields
		(function() {
			'use strict'

			// Fetch all the forms we want to apply custom Bootstrap validation styles to
			var forms = document.querySelectorAll('.needs-validation')

			// Loop over them and prevent submission
			Array.prototype.slice.call(forms).forEach(function(form) {
				form.addEventListener('submit', function(event) {
					if (!form.checkValidity()) {
						event.preventDefault()
						event.stopPropagation()
					}

					form.classList.add('was-validated')
				}, false)
			})
		})()
	</script>
	<script>
		/* document.getElementById("additional").onclick = function() {
			validation();
		}
		function validation(){
			alert("validation");
			alert(document.getElementById("codeGroupName").value);
			alert(document.getElementById("deleteNy").value);
		} */

		let form = document.querySelector("form[name=formName]")

		document.getElementById("additional").onclick = function() {
			if (validation() == false) {
				alert("값을 입력하시오.");
			} else {
				form.action = "codeGroupXdmInsert";
				form.submit();
			}
		}

		function validation() {
			if (!nullToEmpty(document.getElementById("cgName").value)) {

				return false;
			}
		}

		nullToEmpty = function(value) {
			if (value == null || value == "null" || value.length == 0) {
				return false;
			} else {
				return true;
			}
		}

		document.getElementById("back").onclick = function() {
			goback();
		}
		function goback() {
			alert("돌아가기");
		}
	</script>
</body>

</html>