<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">


<body>
<!-- 페이징 시작  -->
	<div th:fragment="pageCount" class="row">
		<div class="col-sm-12 col-md-6">
			total: <label th:text="${vo.totalRows}"></label>
		</div>
		<div class="col-sm-12 col-md-6  d-flex justify-content-end">
			<div class="col-md-1 col-sm-1">
				<select name="rowNumToShow" id="rowNumToShow" aria-controls="apiCallbacks" class="form-select form-select-sm" th:onchange="javascript:goList(1)">
					<option value="5" th:selected="${vo.rowNumToShow == 5}">5</option>
					<option value="10" th:selected="${vo.rowNumToShow == 10}">10</option>
					<option value="25" th:selected="${vo.rowNumToShow == 25}">25</option>
					<option value="50" th:selected="${vo.rowNumToShow == 50}">50</option>
				</select>
			</div>
		</div>
	</div>
	
	<div th:fragment="pageButton" class="col">
		<ul class="pagination justify-content-center mb-0">
				<li th:if="${vo.startPage gt vo.pageNumToShow}"
					class="page-item" style="cursor: pointer;"><a
					class="page-link"
					th:onclick="javascript:setLita([[${vo.startPage - 1}]])"><i
						class="">이전</i></a></li>
				<li th:each="num: ${#numbers.sequence(vo.startPage, vo.endPage)}"
					th:classappend="${num eq vo.thisPage} ? active : ''"
					class="page-item" style="cursor: pointer;"><a
					class="page-link" th:onclick="javascript:setLita([[${num}]])"
					th:text="${num}">
						<!-- ${i.index} -->
				</a></li>
				<li th:if="${vo.endPage ne vo.totalPages}"
					class="page-item" style="cursor: pointer;"><a
					class="page-link"
					th:onclick="javascript:setLita([[${vo.endPage + 1}}]])"><i
						class="">다음</i></a></li>
			</ul>
	</div>
<!-- 페이징 종료  -->
	
<!-- 네이게이션바 시작 -->	
		<th:block th:fragment="navigationBar">	
			<nav class="sidebar-wrapper">
				<!-- Sidebar brand starts -->
				<div class="sidebar-brand">
					<a th:href="@{/index}" class="logo">
						<img src="xdmin/v1/images/logo.svg" alt="Admin Dashboards" />
					</a>
				</div>
				<!-- Sidebar brand starts -->
	
				<!-- Sidebar menu starts -->
				<div class="sidebar-menu">
					<div class="sidebarMenuScroll">
						<ul>
							<li>
								<a th:href="@{/index}">
									<i class="bi bi-house"></i>
									<span class="menu-text">대시보드</span>
								</a>
							</li>
							<li class="sidebar-dropdown">
								<a href="#">
									<i class="bi bi-stickies"></i>
									<span class="menu-text">코드테이블</span>
								</a>
								<div class="sidebar-submenu">
									<ul>
										<li>
											<a th:href="@{/codeGroupXdmList}">코드그룹관리</a>
										</li>
										<li>
											<a th:href="@{/codeXdmList}">코드관리</a>
										</li>
									</ul>
								</div>
							</li>
							<li>
								<a th:href="@{/memberXdmList}">
									<i class="bi bi-window-split"></i>
									<span class="menu-text">회원관리</span>
								</a>
							</li>
							<li>
								<a th:href="@{/productXdmList}">
									<i class="bi bi-window-split"></i>
									<span class="menu-text">제품</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<!-- Sidebar menu ends -->
			</nav>
		</th:block>
<!-- 네이게이션바 종료 -->
<!-- 상단네비 시작 -->
		<div th:fragment="topnav">
			<div class="page-header">

				<div class="toggle-sidebar" id="toggle-sidebar">
					<i class="bi bi-list"></i>
				</div>

				<!-- Header actions ccontainer start -->
				<div class="header-actions-container">

					<!-- Search container start -->
					<div class="search-container">

						<!-- Search input group start -->
						<div class="input-group">
							<input type="text" class="form-control"
								placeholder="검색어를 입력해주세요.">
							<button class="btn" type="button">
								<i class="bi bi-search"></i>
							</button>
						</div>
						<!-- Search input group end -->

					</div>
					<!-- Search container end -->
					<!-- Header actions start -->
					<ul class="header-actions">
						<li class="dropdown"><a href="#" id="userSettings"
							class="user-settings" data-toggle="dropdown" aria-haspopup="true">
								<span class="user-name d-none d-md-block">[[${session.sessNameXdm}]]</span>
								<span class="avatar"> <img src="xdmin/v1/images/user.png"
									alt="Admin Templates"> <span class="status online"></span>
							</span>
							</a>
							<div class="dropdown-menu dropdown-menu-end"
								aria-labelledby="userSettings">
								<div class="header-profile-actions">
									<button type="button" class="btn btn-outline-light" onclick="">Profile</button>
									<button type="button" class="btn btn-outline-light" onclick="">Settings</button>
									<button type="button" class="btn btn-outline-light" onclick="logout()">Logout</button>
								</div>
							</div>
						</li>
					</ul>
					<!-- Header actions end -->

				</div>
				<!-- Header actions ccontainer end -->

			</div>
		</div>
<!-- 상당바 종료 -->
<!-- script 주소 시작 -->
		<th:block th:fragment="script">
			<script src="xdmin/v1/js/bootstrap.bundle.min.js"></script>
			<script src="xdmin/v1/js/modernizr.js"></script>
			<script src="xdmin/v1/js/moment.js"></script>
	
			<!-- datetimepicker  -->
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
			<link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
			
			<!-- Overlay Scroll JS -->
			<script src="xdmin/v1/vendor/overlay-scroll/jquery.overlayScrollbars.min.js"></script>
			<script src="xdmin/v1/vendor/overlay-scroll/custom-scrollbar.js"></script>
	
	
			<!-- Main Js Required -->
			<script src="xdmin/v1/js/main.js"></script>
			<!-- logout -->
			<script src="xdmin/v1/js/common.js"></script>
			<!-- validations  -->
			<script src="xdmin\v1\js\validationXdm.js"></script>
		</th:block>
<!-- script 주소 종료 -->
</body>
</html>