<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
</head>
<body>
    <form name="formList" id="formList" method="post" autocomplete="off">
    <div th:each="node : ${node.get('KeyStatisticList').get('row')}">
    	<h4 th:text="${node.get('CLASS_NAME').asText()}"></h4>
    	<h4 th:text="${node.get('KEYSTAT_NAME').asText()}"></h4>
    	<h4 th:text="${node.get('DATA_VALUE').asText()} + ${node.get('UNIT_NAME').asText()}"></h4>
    	<h4 th:text="${node.get('CYCLE').asText()}"></h4>
	</div>
    	

    </form>
</body>
</html>