<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{v1/infra/blockDeclaration/head :: head}"></head>

<body>

	<!-- Loading wrapper start -->
	<!-- <div id="loading-wrapper">
			<div class="spinner">
                <div class="line1"></div>
				<div class="line2"></div>
				<div class="line3"></div>
				<div class="line4"></div>
				<div class="line5"></div>
				<div class="line6"></div>
            </div>
		</div> -->
	<!-- Loading wrapper end -->

	<!-- Page wrapper start -->
	<div class="page-wrapper">

		<!-- Sidebar wrapper start -->
		<th:block th:replace="~{v1/infra/blockDeclaration/navigationBar :: navigationBar}"></th:block>
		<!-- Sidebar wrapper end -->

		<!-- *************
				************ Main container start *************
			************* -->
		<div class="main-container">

			<!-- Page header starts -->
			<div class="page-header">

				<div class="toggle-sidebar" id="toggle-sidebar">
					<i class="bi bi-list"></i>
				</div>

				<!-- Breadcrumb start -->
				<ol class="breadcrumb d-md-flex d-none">
					<li class="breadcrumb-item"><i class="bi bi-house"></i> <a
						href="index.html">Home</a></li>
					<li class="breadcrumb-item">Tables</li>
					<li class="breadcrumb-item breadcrumb-active" aria-current="page">Tables</li>
				</ol>
				<!-- Breadcrumb end -->

				<!-- Header actions ccontainer start -->
				<div class="header-actions-container">

					<!-- Search container start -->
					<div class="search-container">

						<!-- Search input group start -->
						<div class="input-group">
							<input type="text" class="form-control"
								placeholder="Search anything">
							<button class="btn" type="button">
								<i class="bi bi-search"></i>
							</button>
						</div>
						<!-- Search input group end -->

					</div>
					<!-- Search container end -->

					<!-- Leads start -->
					<a href="orders.html" class="leads d-none d-xl-flex">
						<div class="lead-details">
							You have <span class="count"> 21 </span> new leads
						</div> <span class="lead-icon"><i
							class="bi bi-bell-fill animate__animated animate__swing animate__infinite infinite"></i><b
							class="dot animate__animated animate__heartBeat animate__infinite"></b></span>
					</a>
					<!-- Leads end -->

					<!-- Header actions start -->
					<ul class="header-actions">
						<li class="dropdown d-none d-md-block"><a href="#"
							id="countries" data-toggle="dropdown" aria-haspopup="true"> <img
								src="xdmin/v1/images/flags/1x1/br.svg" class="flag-img"
								alt="Admin Panels" />
						</a>
							<div class="dropdown-menu dropdown-menu-end mini"
								aria-labelledby="countries">
								<div class="country-container">
									<a href="index.html"> <img
										src="xdmin/v1/images/flags/1x1/us.svg"
										alt="Clean Admin Dashboards" />
									</a> <a href="index.html"> <img
										src="xdmin/v1/images/flags/1x1/in.svg" alt="Google Dashboards" />
									</a> <a href="index.html"> <img
										src="xdmin/v1/images/flags/1x1/gb.svg"
										alt="AI Admin Dashboards" />
									</a> <a href="index.html"> <img
										src="xdmin/v1/images/flags/1x1/tr.svg" alt="Modern Dashboards" />
									</a> <a href="index.html"> <img
										src="xdmin/v1/images/flags/1x1/ca.svg"
										alt="Best Admin Dashboards" />
									</a>
								</div>
							</div></li>
						<li class="dropdown"><a href="#" id="userSettings"
							class="user-settings" data-toggle="dropdown" aria-haspopup="true">
								<span class="user-name d-none d-md-block">Abigale Heaney</span>
								<span class="avatar"> <img src="xdmin/v1/images/user.png"
									alt="Admin Templates"> <span class="status online"></span>
							</span>
						</a>
							<div class="dropdown-menu dropdown-menu-end"
								aria-labelledby="userSettings">
								<div class="header-profile-actions">
									<a href="profile.html">Profile</a> <a
										href="account-settings.html">Settings</a> <a href="login.html">Logout</a>
								</div>
							</div></li>
					</ul>
					<!-- Header actions end -->

				</div>
				<!-- Header actions ccontainer end -->

			</div>
			<!-- Page header ends -->

			<!-- Content wrapper scroll start -->
			<div class="content-wrapper-scroll">

				<!-- Content wrapper start -->
				<div class="content-wrapper">

					<!-- search s -->
					<div class="card">
						<!-- 수정필요 -->
						<form name="formList" id="formList" method="post" autocomplete="off">
							<div class="card-header">
								<div class="card-title">회원관리</div>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-4 col-12">
										<div class="mb-3">
											<select class="form-select" id="shDelNy" name="shDelNy">
												<option value="" th:selected="${vo.shDelNy == null}">삭제여부</option>
												<option value="0" th:selected="${vo.shDelNy == 0}">N</option>
												<option value="1" th:selected="${vo.shDelNy == 1}">Y</option>
											</select>
										</div>
									</div>
									<div
										class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-4 col-12">
										<div class="mb-3">
											<select class="form-select" id="shOptionDate" name="shOptionDate">
												<option value="" th:selected="${vo.shOptionDate == null}">날짜</option>
												<option value="1" th:selected="${vo.shOptionDate == 1}">등록일</option>
												<option value="2" th:selected="${vo.shOptionDate == 2}">수정일</option>
											</select>
										</div>
									</div>
									<div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-4 col-12">
										<div class="mb-3">
											<input type="text" id="shDateStart" name="shDateStart" placeholder="시작일" class="form-control" 
											autocomplete="off" th:value="${#strings.substring(vo.shDateStart, 0, 10)}" readonly>
										</div>
									</div>
									<div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-4 col-12">
										<div class="mb-3">
											<input type="text" id="shDateEnd" name="shDateEnd" placeholder="종료일" class="form-control"
											autocomplete="off" th:value="${#strings.substring(vo.shDateEnd, 0, 10)}" readonly>
										</div>
									</div>
									<div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-4 col-12">
										<div class="mb-3">
											<select class="form-select" id="shOption" name="shOption">
												<option value="" th:selected="${vo.shOption == null}">검색구분</option>
												<option value="1" th:selected="${vo.shOption == 1}">회원 코드</option>
												<option value="2" th:selected="${vo.shOption == 2}">회원 이름</option>
											</select>
										</div>
									</div>
									
									<div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-4 col-12">
										<div class="mb-3">
											<select class="form-select" id="shGender" name="shGender">
												<option value="" th:selected="${vo.shGender == null}">검색구분</option>
												<option value="4" th:selected="${vo.shGender == 1}">남자</option>
												<option value="5" th:selected="${vo.shGender == 2}">여자</option>
												<option value="6" th:selected="${vo.shGender == 3}">기타</option>
											</select>
										</div>
									</div>
									
									<div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-4 col-12">
										<div class="mb-3">
											<input type="text" id="shValue" name="shValue" th:value="${vo.shValue}" onkeyup="enterkey()" placeholder="검색어" class="form-control form-control-sm">
											<div class="invalid-feedback" id="shValueFeedback"></div>
										</div>
									</div>
									
									<div
										class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-4 col-12">
										<div class="mb-3">
											<button type="button" id="btnSearch" class="btn btn-primary">
												<i class="bi bi-zoom-in"></i>
											</button>
											<button type="button" id="btnReset" class="btn btn-danger">
												<i class="bi bi-arrow-counterclockwise"></i>
											</button>
										</div>
									</div>
								</div>
								<!-- Form actions footer end -->

							</div>
						</form>
					</div>

					<!-- search e -->
					<!-- Row start -->
					<div class="row">
						<div class="col-12">

							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col-sm-12 col-md-6">
											<label>total:</label>
										</div>
										<div class="col-sm-12 col-md-6  d-flex justify-content-end">
											<div class="col-md-1 col-sm-1">
												<select name="apiCallbacks_length"
													aria-controls="apiCallbacks"
													class="form-select form-select-sm">
													<option value="5">5</option>
													<option value="10">10</option>
													<option value="25">25</option>
													<option value="50">50</option>
												</select>
											</div>
										</div>
									</div>
									<div class="table-responsive">
										<table class="table m-0">
											<thead>
												<tr>
													<th><input class="form-check-input" type="checkbox"
														id="inlineCheckbox1" value="option1"></th>
													<th>회원번호</th>
													<th>회원이름</th>
													<th>생년월일</th>
													<th>성별</th>
													<th>이메일</th>
													<th>비밀번호</th>
													<th>전화번호</th>
													<th>등록일</th>
													<th>수정일</th>
													<th>삭제여부</th>
												</tr>
											</thead>
											<tbody>
												<tr th:if="${!#lists.isEmpty(list)}"
													th:each="list : ${list}">
													<td><input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"></td>
													<td th:text="${list.seq}"></td>
													<td><a th:href="@{/memberUserCorrection(seq=${list.seq},name=${list.name})}" th:text="${list.name}"></a></td>
													<th th:text="${#dates.format(list.dateBirth, 'yyyy/MM/dd')}"></th>
													
													<td th:if="${list.gender != null}" 
														th:text="${@codeService.selectOneCachedCode(list.gender)}" 
														class="ifmmGenderCd align-middle">
													</td>
													<td th:unless="${list.gender != null}" class="ifmmGenderCd align-middle"></td>
													
													
													<td th:text="${list.email}"></td>
													<td th:text="${list.password}"></td>
													<td th:text="${list.phoneNumber}"></td>
													<th th:text="${#dates.format(list.creationDate, 'yyyy/MM/dd HH:mm:ss')}"></th>
													<th th:text="${#dates.format(list.modificationDate, 'yyyy/MM/dd HH:mm:ss')}"></th>
													<td th:if="${list.deleteNy eq 0}">N</td>
													<td th:unless="${list.deleteNy eq 0}">Y</td>
												</tr>

											</tbody>
										</table>
									</div>
									<div class="row mt-3">
										<div class="dataTables_paginate paging_simple_numbers"
											id="basicExample_paginate">

											<ul class="pagination justify-content-center">
												<li class="paginate_button page-item previous disabled"
													id="basicExample_previous"><a href="#"
													aria-controls="basicExample" data-dt-idx="0" tabindex="0"
													class="page-link">이전</a></li>
												<li class="paginate_button page-item active"><a
													href="#" aria-controls="basicExample" data-dt-idx="1"
													tabindex="0" class="page-link">1</a></li>
												<li class="paginate_button page-item "><a href="#"
													aria-controls="basicExample" data-dt-idx="2" tabindex="0"
													class="page-link">2</a></li>
												<li class="paginate_button page-item "><a href="#"
													aria-controls="basicExample" data-dt-idx="3" tabindex="0"
													class="page-link">3</a></li>
												<li class="paginate_button page-item "><a href="#"
													aria-controls="basicExample" data-dt-idx="4" tabindex="0"
													class="page-link">4</a></li>
												<li class="paginate_button page-item "><a href="#"
													aria-controls="basicExample" data-dt-idx="5" tabindex="0"
													class="page-link">5</a></li>
												<li class="paginate_button page-item disabled"
													id="basicExample_ellipsis"><a href="#"
													aria-controls="basicExample" data-dt-idx="6" tabindex="0"
													class="page-link">…</a></li>
												<li class="paginate_button page-item "><a href="#"
													aria-controls="basicExample" data-dt-idx="7" tabindex="0"
													class="page-link">12</a></li>
												<li class="paginate_button page-item next"
													id="basicExample_next"><a href="#"
													aria-controls="basicExample" data-dt-idx="8" tabindex="0"
													class="page-link">다음</a></li>
											</ul>
										</div>
									</div>
									<div class="row mt-3">
										<div class="col d-grid gap-2 d-md-flex justify-content-md">
											<button type="button" class="btn btn-danger"
												data-bs-toggle="modal" data-bs-target="#modalDark">
												<i class="bi bi-eraser-fill"></i>
											</button>
										</div>
										<div class="col d-md-flex justify-content-md-end">
											<a th:href="@{/memberUserAddition}">
												<button type="button" class="btn btn-info">
													<i class="bi bi-plus-circle-fill"></i>
												</button>
											</a>
										</div>
									</div>
									<div class="modals-placeholder">

										<!-- Modal Fade -->
										<div class="modal fade" id="modalDark" tabindex="-1"
											aria-labelledby="modalDarkLabel" aria-hidden="true">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="modalDarkLabel">데이터를 삭제하시겠습니까?</h5>
														<button type="button" class="btn-close"
															data-bs-dismiss="modal" aria-label="Close"></button>
													</div>
													<div class="modal-body">삭제한 데이터는 복구할 수 없습니다.</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-danger"
															data-bs-dismiss="modal">삭제</button>
														<button type="button" class="btn btn-dark"
															data-bs-dismiss="modal">취소</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								</div>


							</div>
						</div>
					</div>
					<!-- Content wrapper end -->

					<!-- App Footer start -->
					<div class="app-footer">
						<span>© Arise admin 2023</span>
					</div>
					<!-- App footer end -->

				</div>
				<!-- Content wrapper scroll end -->

			</div>
			<!-- *************
				************ Main container end *************
			************* -->

		</div>
		<!-- Page wrapper end -->

		<!-- *************
			************ Required JavaScript Files *************
		************* -->
		<!-- Required jQuery first, then Bootstrap Bundle JS -->
		<!-- <script src="xdmin/v1/js/jquery.min.js"></script> -->
		<script src="xdmin/v1/js/bootstrap.bundle.min.js"></script>
		<script src="xdmin/v1/js/modernizr.js"></script>
		<script src="xdmin/v1/js/moment.js"></script>

		<!-- datetimepicker  -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
		<!-- *************
			************ Vendor Js Files *************
		************* -->

		<!-- Overlay Scroll JS -->
		<script src="xdmin/v1/vendor/overlay-scroll/jquery.overlayScrollbars.min.js"></script>
		<script src="xdmin/v1/vendor/overlay-scroll/custom-scrollbar.js"></script>


		<!-- Main Js Required -->
		<script src="xdmin/v1/js/main.js"></script>
		<!--  -->

	<script type="text/javascript">
			window.addEventListener('load', function() {
				$("#shDateStart, #shDateEnd").datetimepicker({
					timepicker : false,
					format : 'Y/m/d'
					
				});
	
			let memberUserList = "/memberUserList"; /* ### */
			let goUrlXdmForm = "/v1/infra/codegroup/codeGroupXdmForm"; /* ### */
			let goUrlXdmMultiUele = "/v1/infra/codegroup/codeGroupXdmMultiUele"; /* ### */
			let goUrlXdmMultiDele = "/v1/infra/codegroup/codeGroupXdmMultiDele"; /* ### */
			let goUrlXdmView = "/v1/infra/codegroup/codeGroupXdmView"; /* ### */

			let seq = document.querySelector("input[name=seq]"); /* ### */
			
			let form = document.querySelector("form[name=formList]");
	
		
			
			document.getElementById("btnSearch").onclick = function() {
				form.action = memberUserList;
				form.submit();
			};
			
			document.getElementById("btnReset").onclick = function() {
				location.href = memberUserList;
			}
			
			
		});
		function enterkey() {
			if (window.event.keyCode == 13) {
			    form.action = memberUserList;
			    form.submit();
		    }
		}
		
		
	</script>

	<script>
			/* document.getElementById("btnForm").onclick = function() {
				goForm(0);
			} 

			goForm = function(keyValue) {
				seq.value = keyValue;
				form.action = goUrlXdmForm;
				form.submit();
			} */
	</script>
		
		
</body>

</html>