<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

	<head th:replace="~{v1/infra/blockDeclaration/head :: head}"></head>

	<body>

		<div class="page-wrapper">

			<!-- Sidebar wrapper start -->
				<th:block th:replace="~{v1/infra/blockDeclaration/navigationBar :: navigationBar}"></th:block>
			<!-- Sidebar wrapper end -->

			<!-- *************
				************ Main container start *************
			************* -->
			<div class="main-container">

				<!-- Page header starts -->
				<div class="page-header">

					<div class="toggle-sidebar" id="toggle-sidebar"><i class="bi bi-list"></i></div>

					<!-- Breadcrumb start -->
					<ol class="breadcrumb d-md-flex d-none">
						<li class="breadcrumb-item">
							<i class="bi bi-house"></i>
							<a href="index.html">Home</a>
						</li>
						<li class="breadcrumb-item">Forms</li>
						<li class="breadcrumb-item breadcrumb-active" aria-current="page">Form Layout</li>
					</ol>
					<!-- Breadcrumb end -->

					<!-- Header actions ccontainer start -->
					<div class="header-actions-container">

						<!-- Search container start -->
						<div class="search-container">

							<!-- Search input group start -->
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Search anything">
								<button class="btn" type="button">
									<i class="bi bi-search"></i>
								</button>
							</div>
							<!-- Search input group end -->

						</div>
						<!-- Search container end -->

						<!-- Leads start -->
						<a href="orders.html" class="leads d-none d-xl-flex">
							<div class="lead-details">You have <span class="count"> 21 </span> new leads </div>
							<span class="lead-icon"><i
									class="bi bi-bell-fill animate__animated animate__swing animate__infinite infinite"></i><b
									class="dot animate__animated animate__heartBeat animate__infinite"></b></span>
						</a>
						<!-- Leads end -->

						<!-- Header actions start -->
						<ul class="header-actions">
							<li class="dropdown d-none d-md-block">
								<a href="#" id="countries" data-toggle="dropdown" aria-haspopup="true">
									<img src="xdmin/v1/images/flags/1x1/br.svg" class="flag-img" alt="Admin Panels" />
								</a>
								<div class="dropdown-menu dropdown-menu-end mini" aria-labelledby="countries">
									<div class="country-container">
										<a href="index.html">
											<img src="xdmin/v1/images/flags/1x1/us.svg" alt="Clean Admin Dashboards" />
										</a>
										<a href="index.html">
											<img src="xdmin/v1/images/flags/1x1/in.svg" alt="Google Dashboards" />
										</a>
										<a href="index.html">
											<img src="xdmin/v1/images/flags/1x1/gb.svg" alt="AI Admin Dashboards" />
										</a>
										<a href="index.html">
											<img src="xdmin/v1/images/flags/1x1/tr.svg" alt="Modern Dashboards" />
										</a>
										<a href="index.html">
											<img src="xdmin/v1/images/flags/1x1/ca.svg" alt="Best Admin Dashboards" />
										</a>
									</div>
								</div>
							</li>
							<li class="dropdown">
								<a href="#" id="userSettings" class="user-settings" data-toggle="dropdown" aria-haspopup="true">
									<span class="user-name d-none d-md-block">Abigale Heaney</span>
									<span class="avatar">
										<img src="xdmin/v1/images/user.png" alt="Admin Templates">
										<span class="status online"></span>
									</span>
								</a>
								<div class="dropdown-menu dropdown-menu-end" aria-labelledby="userSettings">
									<div class="header-profile-actions">
										<a href="profile.html">Profile</a>
										<a href="account-settings.html">Settings</a>
										<a href="login.html">Logout</a>
									</div>
								</div>
							</li>
						</ul>
						<!-- Header actions end -->

					</div>
					<!-- Header actions ccontainer end -->

				</div>
				<!-- Page header ends -->

				<!-- Content wrapper scroll start -->
				<div class="content-wrapper-scroll">

					<!-- Content wrapper start -->
					<div class="content-wrapper">

						<!-- Row start -->
						<div class="row">
							<div class="col-sm-12 col-12">
								<!-- Card start -->
								<div class="card">
									<div class="card-header">
										<div class="card-title">회원관리</div>
									</div>
									<div class="card-body">
										<form class="row" method="post" name="formName">
											<div class="col-3 mb-3">
												<input type="text" class="form-control" name="name" id="name" placeholder="회원이름을 입력하시오.">
												<div class="invalid-feedback" name="name" id="nameFeedback"></div>
											</div>
											<div class="col-3">
												<div class="mb-3">
													<input type="text" id="dateBirth" name="dateBirth" placeholder="생년월일" class="form-control" autocomplete="off" readonly>
												</div>
											</div>
											<div class="col-3">
												<select class="form-select" name="gender" id="gender">
													<option value="4">남자</option>
													<option value="5">여자</option>
													<option value="6">기타</option>
												</select>
											</div>
											<div class="col-3">
												<input type="text" class="form-control" name="email" id="email" placeholder="이메일을 입력하시오.">
												<div class="invalid-feedback" name="email" id="emailFeedback"></div>
											</div>
											<div class="col-3">
												<input type="text" class="form-control" name="password" id="password" placeholder="비밀번호를 입력하시오.">
												<div class="invalid-feedback" name="password" id="passwordFeedback"></div>
											</div>
											<div class="col-3">
												<input type="text" class="form-control" name="passwordCheck" id="passwordCheck" placeholder="비밀번호와 동일하게 입력하시오.">
												<div class="invalid-feedback" name="passwordCheck" id="passwordCheckFeedback"></div>
											</div>
											<div class="col-3">
												<input type="text" class="form-control" name="phoneNumber" id="phoneNumber" placeholder="전화번호를 입력하시오.">
												<div class="invalid-feedback" name="phoneNumber" id="phoneNumberFeedback"></div>
											</div>
											<div class="col-3">
												<select class="form-select" name="deleteNy" id="deleteNy">
													<option value="0">N</option>
													<option value="1">Y</option>
												</select>
											</div>
											<div class="col-6 g-3">
												<a th:href="@{/memberUserList}">
													<button type="button" class="btn btn-success" id = "back">돌아가기</button>
												</a>
											</div>
											<div class="col-6 g-3 d-md-flex justify-content-md-end">
												<button class="btn btn-info" type="button" name="additional" id ="additional">추가</button>
											</div>
										</form>
										</div>
										<!-- Form actions footer end -->
									</div>
									</div>
								</div>
								<!-- Card end -->
							</div>
						</div>
						<!-- Row end -->

					</div>
					<!-- Content wrapper end -->

					<!-- App Footer start -->
					<div class="app-footer">
						<span>© Arise admin 2023</span>
					</div>
					<!-- App footer end -->

				</div>
				<!-- Content wrapper scroll end -->

			
			<!-- *************
				************ Main container end *************
			************* -->
		
		<!-- Page wrapper end -->

		<!-- *************
			************ Required JavaScript Files *************
		************* -->
		<!-- Required jQuery first, then Bootstrap Bundle JS -->
		<script src="xdmin/v1/js/bootstrap.bundle.min.js"></script>
		<script src="xdmin/v1/js/modernizr.js"></script>
		<script src="xdmin/v1/js/moment.js"></script>

		<!-- datetimepicker  -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
		<!-- *************
			************ Vendor Js Files *************
		************* -->

		<!-- Overlay Scroll JS -->
		<script src="xdmin/v1/vendor/overlay-scroll/jquery.overlayScrollbars.min.js"></script>
		<script src="xdmin/v1/vendor/overlay-scroll/custom-scrollbar.js"></script>


		<!-- Main Js Required -->
		<script src="xdmin/v1/js/main.js"></script>
		
		<!-- validations  -->
		
		<script src="xdmin\v1\js\validationXdm.js"></script>
		
		<!-- <script>
		// Example starter JavaScript for disabling form submissions if there are invalid fields
		(function () {
		  'use strict'

		  // Fetch all the forms we want to apply custom Bootstrap validation styles to
		  var forms = document.querySelectorAll('.needs-validation')

		  // Loop over them and prevent submission
		  Array.prototype.slice.call(forms)
		    .forEach(function (form) {
		      form.addEventListener('submit', function (event) {
		        if (!form.checkValidity()) {
		          event.preventDefault()
		          event.stopPropagation()
		        }
		        form.classList.add('was-validated')
		      }, false)
		    })
		})()
		</script> -->
		<script>
				window.addEventListener('load', function() {
					$("#dateBirth").datetimepicker({
						timepicker : false,
			 			format: 'Y/m/d'
					});
				});
				
				let memberUserList = "/memberUserList"; /* ### */
				let goUrlXdmForm = "/v1/infra/codegroup/codeGroupXdmForm"; /* ### */
		</script>
		<script>
		/* 
		 document.getElementById("additional").onclick = function() {
			validation();
			validationUpdt();
		}*/
		 
		 let form = document.querySelector("form[name=formName]")
		 
		 insertCall = function() {
				if(validationUpdt() == false){
					return false;				
				}else {
					form.action = "memberUserInsert";
					form.submit();
				}
			}
		 
		nullToEmpty = function(value) {
			if(value == null || value == "null" || value.length == 0) {
				return false;
			} else {
				return true;
			}
		}
		
		 function validationUpdt() {
				if(!checkOnlyKoreanEnglish('name', 2, 0, "회원이름은 한글, 영문대소문자만 입력 가능합니다.")) return false;
				if(!checkEmail('email', 2, 0, "이메일은 영대소문자, 숫자만 입력 가능합니다.")) return false;
//				if(!checkPassword('password', 2, 0, "비밀번호는 특수문자(!,@,#,$,%,^,&,*) 영대소문자, 숫자가 포함되어야 입력이 가능합니다.")) return false;
				if(!checkOnlyKoreanNumber('phoneNumber', 2, 0, "예비1 (varchar type)은 영문대소문자, 숫자만 입력 가능합니다.")) return false;
				/* if(!checkOnlyEnglishNumber('ifcdReferenceV3', 2, 1, "예비3 (varchar type)은 영문대소문자, 숫자만 입력 가능합니다.")) return false;
				if(!checkOnlyEnglishNumber('ifcdReferenceV4', 2, 1, "예비4 (varchar type)은 영문대소문자, 숫자만 입력 가능합니다.")) return false;		
				if(!checkOnlyNumber('ifcdReferenceI1', 2, 1, 1, -128, 127, "예비1 (Int type)은 숫자(-128~127)만 입력 가능합니다.")) return false;
				if(!checkOnlyNumber('ifcdReferenceI2', 2, 1, 1, -128, 127, "예비2 (Int type)은 숫자(-128~127)만 입력 가능합니다.")) return false;
				if(!checkOnlyNumber('ifcdReferenceI3', 2, 1, 1, -128, 127, "예비3 (Int type)은 숫자(-128~127)만 입력 가능합니다.")) return false;
				if(!checkOnlyNumber('ifcdReferenceI4', 2, 1, 1, -128, 127, "예비4 (Int type)은 숫자(-128~127)만 입력 가능합니다.")) return false; */
			}
		 
		document.getElementById("additional").onclick = function () {
			
			if(validationUpdt() == false) return false;
		
			$.ajax({
				async: true 
				,cache: false
				,type: "post"
				,url: "/signinXdmProc"
				,data : {"password" : $("#password").val(), "passwordCheck" : $("#passwordCheck").val()}
				,success: function(response) {
					if(response.rt == "success") {
						/* alert("비밀번호가 일치"); */
						insertCall();
						/*if(response.changePwd == "true") {
							location.href = "/memberUserList";
						} else {
							location.href = "/memberUserAddition";
						} */
					} else {
						alert("비밀번호가 일치하지 않습니다.");
				 		/* document.getElementById("modalAlertTitle").innerText = "확 인";
				 		document.getElementById("modalAlertBody").innerText = "일치하는 회원이 존재 하지 않습니다!";
				 		$("#modalAlert").modal("show"); */
					}
				}
				,error : function(jqXHR, textStatus, errorThrown){
					alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
				}
			});
		}
		</script>
	</body>

</html>